/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, #left_bar ul li a:hover, .button, input[type="submit"], button, input[type="submit"]#go_button, input[type="submit"]#product_submit, input[type="submit"]#save_button, input[type="submit"]#customer_submit, .file_input_button, #tabnav ul li a, #tabnav ul li a:hover {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('../../images/button_bg.png?1297963111') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, #left_bar ul li a:hover::-moz-focus-inner, .button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner, input[type="submit"]#go_button::-moz-focus-inner, input[type="submit"]#product_submit::-moz-focus-inner, input[type="submit"]#save_button::-moz-focus-inner, input[type="submit"]#customer_submit::-moz-focus-inner, .file_input_button::-moz-focus-inner, #tabnav ul li a::-moz-focus-inner, #tabnav ul li a:hover::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, #left_bar ul li a:focus:hover, .button:focus, input[type="submit"]:focus, button:focus, input[type="submit"]#go_button:focus, input[type="submit"]#product_submit:focus, input[type="submit"]#save_button:focus, input[type="submit"]#customer_submit:focus, .file_input_button:focus, #tabnav ul li a:focus, #tabnav ul li a:focus:hover {
  outline: none;
}

/* line 2, ../../../src/custom.scss */
* {
  margin: 0;
}

/* http://colorschemedesigner.com/#4K325tgNTg0jF */
/* Total width = (columns * 40) - 10 */
/* line 66, ../../../src/custom.scss */
html, body {
  color: #444444;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 100%;
}

/* line 71, ../../../src/custom.scss */
footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* line 76, ../../../src/custom.scss */
footer nav {
  float: none;
}

/* line 79, ../../../src/custom.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

/* line 85, ../../../src/custom.scss */
.footer, .push {
  height: 4em;
  clear: both;
  width: 99.5%;
}

/* line 90, ../../../src/custom.scss */
body {
  background: url(/images/main_background.png) -20% -23px repeat-x;
  color: #444444;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 91, ../../../src/custom.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #444444;
}

/* line 92, ../../../src/custom.scss */
h1, h2, h3, h4 {
  text-shadow: #aaaaaa 1px 1px 1px;
}

/* line 93, ../../../src/custom.scss */
header h1 {
  -x-system-font: none;
  color: white;
  font-family: "Museo Slab","Helvetica","Arial",sans-serif;
  font-size: 65px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-shadow: 0 -1px 0 black;
  position: absolute;
  top: 0.5em;
  right: 9em;
}

/* line 113, ../../../src/custom.scss */
header {
  padding-top: 20px;
}
/* line 115, ../../../src/custom.scss */
header img {
  padding: 1em;
  background: #ace680;
}

/* line 119, ../../../src/custom.scss */
section {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  font-size: 120%;
}
/* line 123, ../../../src/custom.scss */
section h1 {
  font-size: 200%;
}
/* line 125, ../../../src/custom.scss */
section#flash {
  height: 2em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
}

/* Links */
/* line 131, ../../../src/custom.scss */
a {
  color: #444444;
  text-decoration: none;
}
/* line 133, ../../../src/custom.scss */
a:hover {
  color: #919191;
  text-decoration: underline;
}
/* line 134, ../../../src/custom.scss */
a:visited {
  color: #444444;
}

/* Navigation */
/* line 138, ../../../src/custom.scss */
nav {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  float: right;
  white-space: nowrap;
}
/* line 143, ../../../src/custom.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 146, ../../../src/custom.scss */
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
/* line 150, ../../../src/custom.scss */
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
/* line 153, ../../../src/custom.scss */
nav ul li a:visited {
  color: #444444;
}
/* line 155, ../../../src/custom.scss */
nav ul li a:hover {
  text-decoration: underline;
}

/* line 159, ../../../src/custom.scss */
#left_bar {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  float: right;
  white-space: normal;
}
/* line 164, ../../../src/custom.scss */
#left_bar ul {
  margin: 0;
  padding: 0;
}
/* line 167, ../../../src/custom.scss */
#left_bar ul li {
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: #8bcc46;
  border-width: 0.5px;
  list-style-type: none;
  margin: 0.5px 0;
  padding: 0;
  height: 2em;
}
/* line 177, ../../../src/custom.scss */
#left_bar ul li a {
  padding: 10px;
  font-weight: bold;
}
/* line 180, ../../../src/custom.scss */
#left_bar ul li a:visited {
  color: #444444;
}
/* line 182, ../../../src/custom.scss */
#left_bar ul li a:hover {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#left_bar ul li a:hover, #left_bar ul li a:hover:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#left_bar ul li a:hover:hover, #left_bar ul li a:hover:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#left_bar ul li a:hover:hover, #left_bar ul li a:hover:hover:visited, #left_bar ul li a:hover:focus, #left_bar ul li a:hover:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#left_bar ul li a:hover:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#left_bar ul li a:hover:active, #left_bar ul li a:hover:active:visited {
  color: white;
}

/* line 187, ../../../src/custom.scss */
#right_bar {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  float: right;
  background-color: #ace680;
  white-space: normal;
  overflow: hidden;
  clear: both;
}

/* line 196, ../../../src/custom.scss */
#login_nav {
  padding: 2px;
  margin-top: -2em;
}

/* line 201, ../../../src/custom.scss */
#help_nav {
  margin: 0;
  overflow: hidden;
  clear: both;
}

/* Sign up button */
/* line 208, ../../../src/custom.scss */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */
/* line 222, ../../../src/custom.scss */
.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 227, ../../../src/custom.scss */
#flash_notice, #flash_error, #flash_alert {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  padding: 0;
  padding-left: 10px;
  margin: 0;
  width: 99%;
}

/* line 235, ../../../src/custom.scss */
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

/* line 239, ../../../src/custom.scss */
#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* line 243, ../../../src/custom.scss */
#flash_alert {
  background-color: #FFAB56;
  border: solid 1px #C66;
}

/* line 247, ../../../src/custom.scss */
.field_with_errors {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(255, 22, 22, 0.5);
  display: inline;
}

/* line 252, ../../../src/custom.scss */
#error_explanation {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(255, 22, 22, 0.5);
  width: 99%;
  border: 2px solid #ff1616;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 261, ../../../src/custom.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #ff1616;
  color: #fff;
}
/* line 269, ../../../src/custom.scss */
#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
/* line 273, ../../../src/custom.scss */
#error_explanation ul {
  margin: 2px 24px;
}
/* line 275, ../../../src/custom.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* line 279, ../../../src/custom.scss */
#user_nav {
  float: right;
  font-size: 12px;
}

/* line 283, ../../../src/custom.scss */
#userPreferences {
  float: right;
  font-size: 12px;
  width: 180px;
  border: 2px solid #468119;
  padding: 5px;
  margin-top: -40px;
  background-color: #ace680;
}

/* line 292, ../../../src/custom.scss */
.pageHeading {
  width: 98%;
  background-color: #74d52b;
  -moz-box-shadow: 5px 5px 3px #888888;
  /* Firefox */
  -webkit-box-shadow: 5px 5px 3px #888888;
  /* Safari and Chrome */
  box-shadow: 5px 5px 3px #888888;
  padding: 2px;
  margin-bottom: 1em;
}

/*Pagination*/
/* line 301, ../../../src/custom.scss */
.digg_pagination {
  background: #ace680;
  margin: 0;
  /* self-clearing method: */
}
/* line 305, ../../../src/custom.scss */
.digg_pagination a {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px;
}
/* line 310, ../../../src/custom.scss */
.digg_pagination span {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px;
}
/* line 315, ../../../src/custom.scss */
.digg_pagination span.disabled {
  color: #999;
  border: 1px solid #DDD;
}
/* line 318, ../../../src/custom.scss */
.digg_pagination span.current {
  margin-top: 1px;
  font-weight: bold;
  background: #468119;
  color: white;
  border: 2px solid #468119;
}
/* line 324, ../../../src/custom.scss */
.digg_pagination a {
  text-decoration: none;
  color: #2f5611;
  border: 1px solid #2f5611;
}
/* line 328, ../../../src/custom.scss */
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #182b09;
  border-color: #74d52b;
}
/* line 331, ../../../src/custom.scss */
.digg_pagination .page_info {
  background: #468119;
  color: #ace680;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center;
}
/* line 338, ../../../src/custom.scss */
.digg_pagination .page_info b {
  color: #2f5611;
  background: #74d52b;
  padding: .1em .25em;
}
/* line 342, ../../../src/custom.scss */
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 350, ../../../src/custom.scss */
* html .digg_pagination {
  height: 1%;
}
/* line 352, ../../../src/custom.scss */
*:first-child + html .digg_pagination {
  overflow: hidden;
}

/* line 356, ../../../src/custom.scss */
.order_header {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  background-color: #e4f7d5;
}

/*Pretty table*/
/* line 363, ../../../src/custom.scss */
table.pretty {
  border-collapse: collapse;
  margin-bottom: 10px;
}

/* line 368, ../../../src/custom.scss */
.pretty th {
  padding: 4px 10px;
  border-bottom-color: #468119;
  border-bottom-style: solid;
  border-bottom-width: medium;
}
/* line 374, ../../../src/custom.scss */
.pretty td {
  padding: 4px 10px;
  border: solid 1px #468119;
}
/* line 377, ../../../src/custom.scss */
.pretty .hidden {
  border: hidden;
  border-top: solid 1px #468119;
  border-right: solid 1px #468119;
  text-align: right;
  background: #e4f7d5;
}
/* line 383, ../../../src/custom.scss */
.pretty .price {
  text-align: right;
}
/* line 385, ../../../src/custom.scss */
.pretty .total {
  text-align: right;
  border-top-color: #468119;
  border-top-style: double;
  border-top-width: thick;
}
/* line 393, ../../../src/custom.scss */
.pretty th .current {
  padding-right: 18px;
  background-repeat: no-repeat;
  background-position: right center;
}
/* line 397, ../../../src/custom.scss */
.pretty th .asc:after {
  content: "\25B2 \ ";
  text-shadow: #aaaaaa 1px 1px 1px;
}
/* line 400, ../../../src/custom.scss */
.pretty th .desc:after {
  content: "\25BC \ ";
  text-shadow: #aaaaaa 1px 1px 1px;
}

/* line 405, ../../../src/custom.scss */
tbody tr:nth-child(even) td, tbody tr.even td {
  background: #9ee26b;
}

/*fancy input search*/
/* line 408, ../../../src/custom.scss */
input[type="password"], input[type="text"], input[type="file"], textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1.5em;
  background: #74d52b;
  /*font-family:comic sans MS;*/
  font-size: 14px;
  font-weight: none;
  font-style: normal;
  border-style: solid;
  border-color: #468119;
  border-width: 2px;
  width: 280px;
  color: #444444;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 120%;
}

/* line 414, ../../../src/custom.scss */
textarea {
  height: 4em;
}

/* line 418, ../../../src/custom.scss */
#date {
  width: 8em;
}

/* line 422, ../../../src/custom.scss */
div#upload, select {
  height: 2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1.5em;
  background: #74d52b;
  /*font-family:comic sans MS;*/
  font-size: 14px;
  font-weight: none;
  font-style: normal;
  border-style: solid;
  border-color: #468119;
  border-width: 2px;
  width: 280px;
  color: #444444;
}

/* line 427, ../../../src/custom.scss */
input[type="text"]#search {
  padding-left: 1.5em;
  height: 1.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1.5em;
  background: #74d52b;
  /*font-family:comic sans MS;*/
  font-size: 14px;
  font-weight: none;
  font-style: normal;
  border-style: solid;
  border-color: #468119;
  border-width: 2px;
  width: 280px;
  color: #444444;
  background: url(/images/mag_glass.png) 0 -2px no-repeat;
}

/* line 434, ../../../src/custom.scss */
input[type="text"]#per_page {
  width: 20px;
}

/* line 437, ../../../src/custom.scss */
.button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button, .button:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button:hover, .button:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button:hover, .button:hover:visited, .button:focus, .button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button:active, .button:active:visited {
  color: white;
}

/* line 438, ../../../src/custom.scss */
input[type="submit"] {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"], input[type="submit"]:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:hover, input[type="submit"]:hover:visited, input[type="submit"]:focus, input[type="submit"]:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:active, input[type="submit"]:active:visited {
  color: white;
}

/* line 439, ../../../src/custom.scss */
button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button, button:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:hover:visited, button:focus, button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button:active, button:active:visited {
  color: white;
}

/* line 440, ../../../src/custom.scss */
input[type="submit"]#go_button {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  font-size: 14px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 2px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: -6px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#go_button, input[type="submit"]#go_button:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#go_button:hover, input[type="submit"]#go_button:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#go_button:hover, input[type="submit"]#go_button:hover:visited, input[type="submit"]#go_button:focus, input[type="submit"]#go_button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#go_button:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#go_button:active, input[type="submit"]#go_button:active:visited {
  color: white;
}

/* line 441, ../../../src/custom.scss */
input[type="submit"]#product_submit {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  font-size: 19px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#product_submit, input[type="submit"]#product_submit:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#product_submit:hover, input[type="submit"]#product_submit:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#product_submit:hover, input[type="submit"]#product_submit:hover:visited, input[type="submit"]#product_submit:focus, input[type="submit"]#product_submit:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#product_submit:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#product_submit:active, input[type="submit"]#product_submit:active:visited {
  color: white;
}

/* line 442, ../../../src/custom.scss */
input[type="submit"]#save_button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: -6px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#save_button, input[type="submit"]#save_button:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#save_button:hover, input[type="submit"]#save_button:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#save_button:hover, input[type="submit"]#save_button:hover:visited, input[type="submit"]#save_button:focus, input[type="submit"]#save_button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#save_button:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#save_button:active, input[type="submit"]#save_button:active:visited {
  color: white;
}

/* line 443, ../../../src/custom.scss */
input[type="submit"]#customer_submit {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 17px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: -6px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#customer_submit, input[type="submit"]#customer_submit:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#customer_submit:hover, input[type="submit"]#customer_submit:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#customer_submit:hover, input[type="submit"]#customer_submit:hover:visited, input[type="submit"]#customer_submit:focus, input[type="submit"]#customer_submit:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#customer_submit:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#customer_submit:active, input[type="submit"]#customer_submit:active:visited {
  color: white;
}

/* line 445, ../../../src/custom.scss */
.productImage img {
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
}

/* line 449, ../../../src/custom.scss */
#logo {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  margin-top: -2em;
}

/* line 456, ../../../src/custom.scss */
.file_input_textbox {
  width: 400px;
  float: left;
}

/* line 461, ../../../src/custom.scss */
.file_input_button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 30px;
  margin-top: 7px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.file_input_button, .file_input_button:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.file_input_button:hover, .file_input_button:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.file_input_button:hover, .file_input_button:hover:visited, .file_input_button:focus, .file_input_button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.file_input_button:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.file_input_button:active, .file_input_button:active:visited {
  color: white;
}

/* line 464, ../../../src/custom.scss */
.file_input_div {
  position: relative;
  width: 100px;
  height: 2.1em;
  overflow: hidden;
  display: inline;
}

/* line 473, ../../../src/custom.scss */
.file_input_hidden {
  font-size: 45px;
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

/* line 481, ../../../src/custom.scss */
.checkbox {
  color: #444444;
  background: #ace680;
  width: 2em;
  height: 2em;
}

/* START:cartmain */
/* Styles for the cart in the main page */
/* line 491, ../../../src/custom.scss */
.cart_title {
  font: 150% bold;
}

/* line 495, ../../../src/custom.scss */
.item_price, .total_line {
  text-align: right;
}

/* line 499, ../../../src/custom.scss */
.total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #468119;
}

/* START:cartside */
/* Styles for the cart in the sidebar */
/* line 511, ../../../src/custom.scss */
#cart, #cart table {
  font-size: 100%;
}

/* line 515, ../../../src/custom.scss */
#cart table {
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}

/* END:cartside */
/* START: no script warning */
/* line 525, ../../../src/custom.scss */
.noscript {
  background-color: #AE0000;
  color: #FFFFFF;
  font-size: 110%;
  font-weight: bold;
  left: 0;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 4101;
}

/* line 542, ../../../src/custom.scss */
.noscript .noscript-inner {
  text-align: center;
  background-image: url("/images/i_notice.png");
  background-position: 20px 50%;
  background-repeat: no-repeat;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 12px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 12px;
  width: 70%;
}

/* END:form */
/* line 559, ../../../src/custom.scss */
#tabnav {
  float: right;
  position: relative;
  white-space: normal;
  z-index: 0;
  margin: 0;
  padding: 0.5em;
  margin-right: -10px;
  margin-top: -70px;
}
/* line 568, ../../../src/custom.scss */
#tabnav ul {
  margin: 0;
  padding: 0;
}
/* line 572, ../../../src/custom.scss */
#tabnav ul li a {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  height: 2em;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#tabnav ul li a, #tabnav ul li a:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#tabnav ul li a:hover, #tabnav ul li a:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#tabnav ul li a:hover, #tabnav ul li a:hover:visited, #tabnav ul li a:focus, #tabnav ul li a:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#tabnav ul li a:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#tabnav ul li a:active, #tabnav ul li a:active:visited {
  color: white;
}
/* line 575, ../../../src/custom.scss */
#tabnav ul li a:visited {
  color: #444444;
}
/* line 577, ../../../src/custom.scss */
#tabnav ul li a:hover {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#tabnav ul li a:hover, #tabnav ul li a:hover:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#tabnav ul li a:hover:hover, #tabnav ul li a:hover:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#tabnav ul li a:hover:hover, #tabnav ul li a:hover:hover:visited, #tabnav ul li a:hover:focus, #tabnav ul li a:hover:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#tabnav ul li a:hover:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
#tabnav ul li a:hover:active, #tabnav ul li a:hover:active:visited {
  color: white;
}

/* extras */
/* line 581, ../../../src/custom.scss */
.upper {
  text-transform: uppercase;
}
