/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, .button, input[type="submit"], button, input[type="submit"]#go_button, input[type="submit"]#product_submit, input[type="submit"]#save_button, input[type="submit"]#customer_submit, .file_input_button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('../../images/button_bg.png?1297963111') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, .button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner, input[type="submit"]#go_button::-moz-focus-inner, input[type="submit"]#product_submit::-moz-focus-inner, input[type="submit"]#save_button::-moz-focus-inner, input[type="submit"]#customer_submit::-moz-focus-inner, .file_input_button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, .button:focus, input[type="submit"]:focus, button:focus, input[type="submit"]#go_button:focus, input[type="submit"]#product_submit:focus, input[type="submit"]#save_button:focus, input[type="submit"]#customer_submit:focus, .file_input_button:focus {
  outline: none;
}

/* line 2, ../../../src/custom.scss */
* {
  margin: 0;
}

/*
http://colorschemedesigner.com/#4K325tgNTg0jF
Primary Color:
green 
50F015  57D22A  3FC60D  6AF437  7EF453
Secondary Color A:
blue
19AED8  2B9CBD  0F8EB2  39BEE4  52C4E4
Secondary Color B:
orange
FF8C16  DF872D  D2710E  FF9D3A  FFAB56
Complementary Color:
red
F91539  DA2C47  CE0D2C  FB3957  FB556F
  */
/* Total width = (columns * 40) - 10 */
/* line 75, ../../../src/custom.scss */
html, body {
  height: 100%;
}

/* line 78, ../../../src/custom.scss */
footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* line 83, ../../../src/custom.scss */
footer nav {
  float: none;
}

/* line 86, ../../../src/custom.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

/* line 92, ../../../src/custom.scss */
.footer, .push {
  height: 4em;
  clear: both;
  width: 99.5%;
}

/* line 97, ../../../src/custom.scss */
body {
  background: url(/images/main_background.png) -20% -23px repeat-x;
  color: #444444;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 98, ../../../src/custom.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #444444;
}

/* line 99, ../../../src/custom.scss */
h1, h2, h3, h4 {
  text-shadow: #aaaaaa 1px 1px 1px;
}

/* line 100, ../../../src/custom.scss */
header h1 {
  -x-system-font: none;
  color: white;
  font-family: "Museo Slab","Helvetica","Arial",sans-serif;
  font-size: 65px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-shadow: 0 -1px 0 black;
  position: absolute;
  top: 0.5em;
  right: 9em;
}

/* line 120, ../../../src/custom.scss */
header {
  padding-top: 20px;
}
/* line 122, ../../../src/custom.scss */
header img {
  padding: 1em;
  background: #ace680;
}

/* line 126, ../../../src/custom.scss */
section {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  font-size: 120%;
}
/* line 130, ../../../src/custom.scss */
section h1 {
  font-size: 200%;
}
/* line 132, ../../../src/custom.scss */
section#flash {
  height: 18px;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
}

/* Links */
/* line 138, ../../../src/custom.scss */
a {
  color: #444444;
  text-decoration: none;
}
/* line 140, ../../../src/custom.scss */
a:hover {
  color: #777777;
  text-decoration: underline;
}
/* line 141, ../../../src/custom.scss */
a:visited {
  color: #444444;
}

/* Navigation */
/* line 145, ../../../src/custom.scss */
nav {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  float: right;
  white-space: nowrap;
}
/* line 150, ../../../src/custom.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 153, ../../../src/custom.scss */
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
/* line 157, ../../../src/custom.scss */
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
/* line 160, ../../../src/custom.scss */
nav ul li a:visited {
  color: #444444;
}
/* line 162, ../../../src/custom.scss */
nav ul li a:hover {
  text-decoration: underline;
}

/* line 166, ../../../src/custom.scss */
#left_bar {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  float: right;
  white-space: normal;
}
/* line 171, ../../../src/custom.scss */
#left_bar ul {
  margin: 0;
  padding: 0;
}
/* line 174, ../../../src/custom.scss */
#left_bar ul li {
  list-style-type: none;
  padding: 0.2em 0;
}
/* line 177, ../../../src/custom.scss */
#left_bar ul li a {
  padding: 0 5px;
  font-weight: bold;
}
/* line 180, ../../../src/custom.scss */
#left_bar ul li a:visited {
  color: #444444;
}
/* line 182, ../../../src/custom.scss */
#left_bar ul li a:hover {
  text-decoration: none;
  background: orange;
  border-style: solid;
  border-color: #468119;
  border-width: 2px;
}

/* line 189, ../../../src/custom.scss */
#right_bar {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  float: right;
  background-color: #ace680;
  white-space: normal;
  overflow: hidden;
  clear: both;
}

/* line 198, ../../../src/custom.scss */
#login_nav {
  padding: 2px;
  margin-top: -2em;
}

/* line 203, ../../../src/custom.scss */
#help_nav {
  margin: 0;
  overflow: hidden;
  clear: both;
}

/* Sign up button */
/* line 210, ../../../src/custom.scss */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */
/* line 224, ../../../src/custom.scss */
.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 229, ../../../src/custom.scss */
#flash_notice, #flash_error, #flash_alert {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  padding: 0;
  padding-left: 10px;
  margin: 0;
  width: 500px;
}

/* line 237, ../../../src/custom.scss */
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

/* line 241, ../../../src/custom.scss */
#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* line 245, ../../../src/custom.scss */
#flash_alert {
  background-color: #FFAB56;
  border: solid 1px #C66;
}

/* line 249, ../../../src/custom.scss */
.fieldWithErrors {
  display: inline;
}

/* line 252, ../../../src/custom.scss */
#errorExplanation {
  width: 500px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 259, ../../../src/custom.scss */
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}
/* line 267, ../../../src/custom.scss */
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
/* line 271, ../../../src/custom.scss */
#errorExplanation ul {
  margin: 2px 24px;
}
/* line 273, ../../../src/custom.scss */
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* line 277, ../../../src/custom.scss */
#user_nav {
  float: right;
  font-size: 12px;
}

/* line 281, ../../../src/custom.scss */
#userPreferences {
  float: right;
  font-size: 12px;
  width: 180px;
  border: 2px solid #468119;
  padding: 5px;
  margin-top: -50px;
  background-color: #ace680;
}

/* line 290, ../../../src/custom.scss */
div.pageHeading {
  width: 98%;
  background-color: #74d52b;
  -moz-box-shadow: 5px 5px 3px #888888;
  /* Firefox */
  -webkit-box-shadow: 5px 5px 3px #888888;
  /* Safari and Chrome */
  box-shadow: 5px 5px 3px #888888;
  padding: 2px;
  margin-bottom: 1em;
}

/*Pagination*/
/* line 299, ../../../src/custom.scss */
.digg_pagination {
  background: #ace680;
  /* self-clearing method: */
}
/* line 302, ../../../src/custom.scss */
.digg_pagination a {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px;
}
/* line 307, ../../../src/custom.scss */
.digg_pagination span {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px;
}
/* line 312, ../../../src/custom.scss */
.digg_pagination span.disabled {
  color: #999;
  border: 1px solid #DDD;
}
/* line 315, ../../../src/custom.scss */
.digg_pagination span.current {
  font-weight: bold;
  background: #468119;
  color: white;
  border: 1px solid #468119;
}
/* line 320, ../../../src/custom.scss */
.digg_pagination a {
  text-decoration: none;
  color: #2f5611;
  border: 1px solid #2f5611;
}
/* line 324, ../../../src/custom.scss */
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #182b09;
  border-color: #74d52b;
}
/* line 327, ../../../src/custom.scss */
.digg_pagination .page_info {
  background: #468119;
  color: #ace680;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center;
}
/* line 334, ../../../src/custom.scss */
.digg_pagination .page_info b {
  color: #2f5611;
  background: #74d52b;
  padding: .1em .25em;
}
/* line 338, ../../../src/custom.scss */
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 346, ../../../src/custom.scss */
* html .digg_pagination {
  height: 1%;
}
/* line 348, ../../../src/custom.scss */
*:first-child + html .digg_pagination {
  overflow: hidden;
}

/*Pretty table*/
/* line 353, ../../../src/custom.scss */
table.pretty {
  border-collapse: collapse;
  margin-bottom: 10px;
}

/* line 358, ../../../src/custom.scss */
.pretty td, .pretty th {
  padding: 4px 10px;
  border: solid 1px #468119;
}
/* line 361, ../../../src/custom.scss */
.pretty .price {
  text-align: right;
}
/* line 364, ../../../src/custom.scss */
.pretty th .current {
  padding-right: 18px;
  background-repeat: no-repeat;
  background-position: right center;
}
/* line 368, ../../../src/custom.scss */
.pretty th .asc:after {
  content: "\25B2 \ ";
  text-shadow: #aaaaaa 1px 1px 1px;
}
/* line 371, ../../../src/custom.scss */
.pretty th .desc:after {
  content: "\25BC \ ";
  text-shadow: #aaaaaa 1px 1px 1px;
}

/* line 376, ../../../src/custom.scss */
tbody tr:nth-child(even) td, tbody tr.even td {
  background: #9ee26b;
}

/*fancy input search*/
/* line 379, ../../../src/custom.scss */
input[type="password"], input[type="text"], input[type="file"], textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1.5em;
  background: #74d52b;
  /*font-family:comic sans MS;*/
  font-size: 14px;
  font-weight: none;
  font-style: normal;
  border-style: solid;
  border-color: #468119;
  border-width: 2px;
  width: 280px;
  color: #444444;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
}

/* line 384, ../../../src/custom.scss */
div#upload, select {
  height: 2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1.5em;
  background: #74d52b;
  /*font-family:comic sans MS;*/
  font-size: 14px;
  font-weight: none;
  font-style: normal;
  border-style: solid;
  border-color: #468119;
  border-width: 2px;
  width: 280px;
  color: #444444;
}

/* line 389, ../../../src/custom.scss */
input[type="text"]#search {
  padding-left: 1.5em;
  height: 1.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1.5em;
  background: #74d52b;
  /*font-family:comic sans MS;*/
  font-size: 14px;
  font-weight: none;
  font-style: normal;
  border-style: solid;
  border-color: #468119;
  border-width: 2px;
  width: 280px;
  color: #444444;
  background: url(/images/mag_glass.png) 0 -2px no-repeat;
}

/* line 396, ../../../src/custom.scss */
input[type="text"]#per_page {
  width: 20px;
}

/* line 399, ../../../src/custom.scss */
.button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button, .button:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button:hover, .button:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button:hover, .button:hover:visited, .button:focus, .button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.button:active, .button:active:visited {
  color: white;
}

/* line 400, ../../../src/custom.scss */
input[type="submit"] {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"], input[type="submit"]:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:hover, input[type="submit"]:hover:visited, input[type="submit"]:focus, input[type="submit"]:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:active, input[type="submit"]:active:visited {
  color: white;
}

/* line 401, ../../../src/custom.scss */
button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button, button:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:hover:visited, button:focus, button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
button:active, button:active:visited {
  color: white;
}

/* line 402, ../../../src/custom.scss */
input[type="submit"]#go_button {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  font-size: 14px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 2px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: -6px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#go_button, input[type="submit"]#go_button:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#go_button:hover, input[type="submit"]#go_button:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#go_button:hover, input[type="submit"]#go_button:hover:visited, input[type="submit"]#go_button:focus, input[type="submit"]#go_button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#go_button:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#go_button:active, input[type="submit"]#go_button:active:visited {
  color: white;
}

/* line 403, ../../../src/custom.scss */
input[type="submit"]#product_submit {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  font-size: 19px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#product_submit, input[type="submit"]#product_submit:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#product_submit:hover, input[type="submit"]#product_submit:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#product_submit:hover, input[type="submit"]#product_submit:hover:visited, input[type="submit"]#product_submit:focus, input[type="submit"]#product_submit:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#product_submit:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#product_submit:active, input[type="submit"]#product_submit:active:visited {
  color: white;
}

/* line 404, ../../../src/custom.scss */
input[type="submit"]#save_button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: -6px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#save_button, input[type="submit"]#save_button:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#save_button:hover, input[type="submit"]#save_button:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#save_button:hover, input[type="submit"]#save_button:hover:visited, input[type="submit"]#save_button:focus, input[type="submit"]#save_button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#save_button:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#save_button:active, input[type="submit"]#save_button:active:visited {
  color: white;
}

/* line 405, ../../../src/custom.scss */
input[type="submit"]#customer_submit {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 17px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: -6px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#customer_submit, input[type="submit"]#customer_submit:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#customer_submit:hover, input[type="submit"]#customer_submit:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#customer_submit:hover, input[type="submit"]#customer_submit:hover:visited, input[type="submit"]#customer_submit:focus, input[type="submit"]#customer_submit:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#customer_submit:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]#customer_submit:active, input[type="submit"]#customer_submit:active:visited {
  color: white;
}

/* line 407, ../../../src/custom.scss */
.productImage img {
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
}

/* line 411, ../../../src/custom.scss */
#logo {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  background: #ace680;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  margin-top: -2em;
}

/* line 418, ../../../src/custom.scss */
.file_input_textbox {
  width: 400px;
  float: left;
}

/* line 423, ../../../src/custom.scss */
.file_input_button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #6eff01;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d0f1b7), color-stop(10%, #9ee26b), color-stop(50%, #6dc928), color-stop(50%, #66bc25), color-stop(100%, #7fd83c));
  background-image: -moz-linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  background-image: linear-gradient(top, #d0f1b7 0%, #9ee26b 10%, #6dc928 50%, #66bc25 50%, #7fd83c 100%);
  border-color: #51961e;
  text-shadow: #378100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.502) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 30px;
  margin-top: 7px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.file_input_button, .file_input_button:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.file_input_button:hover, .file_input_button:focus {
  background-color: #67f100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c8eeab), color-stop(10%, #95df5e), color-stop(50%, #66bc25), color-stop(50%, #5faf23), color-stop(100%, #77d62f));
  background-image: -moz-linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  background-image: linear-gradient(top, #c8eeab 0%, #95df5e 10%, #66bc25 50%, #5faf23 50%, #77d62f 100%);
  border-color: #4a891b;
  text-shadow: #317100 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.file_input_button:hover, .file_input_button:hover:visited, .file_input_button:focus, .file_input_button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.file_input_button:active {
  background-color: #61e100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #66bc25), color-stop(30%, #6bc527), color-stop(50%, #61b424), color-stop(50%, #5ba721), color-stop(100%, #7ad734));
  background-image: -moz-linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  background-image: linear-gradient(top, #66bc25 0%, #6bc527 30%, #61b424 50%, #5ba721 50%, #7ad734 100%);
  border-color: #437c19;
  text-shadow: #2a6200 0px -1px -1px;
  -moz-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #51961e 0 0.08em 0.1em 1px inset;
  box-shadow: #51961e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-rc2/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.file_input_button:active, .file_input_button:active:visited {
  color: white;
}

/* line 426, ../../../src/custom.scss */
.file_input_div {
  position: relative;
  width: 100px;
  height: 2.1em;
  overflow: hidden;
  display: inline;
}

/* line 435, ../../../src/custom.scss */
.file_input_hidden {
  font-size: 45px;
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

/* line 443, ../../../src/custom.scss */
.checkbox {
  color: #444444;
  background: #ace680;
  width: 2em;
  height: 2em;
}

/* An entry in the store catalog */
/* line 451, ../../../src/custom.scss */
#store .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

/* line 457, ../../../src/custom.scss */
#store .title {
  font-size: 120%;
  font-family: sans-serif;
}

/* line 462, ../../../src/custom.scss */
#store .entry img {
  width: 75px;
  float: left;
}

/* line 468, ../../../src/custom.scss */
#store .entry h3 {
  margin-top: 0;
  margin-bottom: 2px;
  color: #227;
}

/* line 474, ../../../src/custom.scss */
#store .entry p {
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

/* line 479, ../../../src/custom.scss */
#store .entry .price-line {
  clear: both;
}

/* line 483, ../../../src/custom.scss */
#store .entry .add-to-cart {
  position: relative;
}

/* line 487, ../../../src/custom.scss */
#store .entry .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}

/* START:inline */
/* line 494, ../../../src/custom.scss */
#store .entry form, #store .entry form div {
  display: inline;
}

/* END:inline */
/* START:cartmain */
/* Styles for the cart in the main page */
/* line 502, ../../../src/custom.scss */
.cart-title {
  font: 120% bold;
}

/* line 506, ../../../src/custom.scss */
.item-price, .total-line {
  text-align: right;
}

/* line 510, ../../../src/custom.scss */
.total-line .total-cell {
  font-weight: bold;
  border-top: 1px solid #468119;
}

/* END:cartmain */
/* START:cartside */
/* Styles for the cart in the sidebar */
/* line 519, ../../../src/custom.scss */
#cart, #cart table {
  font-size: smaller;
  color: #444444;
}

/* line 524, ../../../src/custom.scss */
#cart table {
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}

/* END:cartside */
/* START:form */
/* Styles for order form */
/* line 534, ../../../src/custom.scss */
.depot-form fieldset {
  background: #efe;
}

/* line 538, ../../../src/custom.scss */
.depot-form legend {
  color: #444444;
  background: #ace680;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

/* line 545, ../../../src/custom.scss */
.depot-form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

/* line 554, ../../../src/custom.scss */
.depot-form select, .depot-form textarea, .depot-form input {
  margin-left: 0.5em;
}

/* line 558, ../../../src/custom.scss */
.depot-form .submit {
  margin-left: 4em;
}

/* line 562, ../../../src/custom.scss */
.depot-form div {
  margin: 0.5em 0;
}

/* END:form */
/* line 567, ../../../src/custom.scss */
.noscript {
  background-color: #AE0000;
  color: #FFFFFF;
  font-size: 110%;
  font-weight: bold;
  left: 0;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 4101;
}

/* line 584, ../../../src/custom.scss */
.noscript .noscript-inner {
  text-align: center;
  background-image: url("/images/i_notice.png");
  background-position: 20px 50%;
  background-repeat: no-repeat;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 12px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 12px;
  width: 70%;
}
