/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, input[type="submit"], input[type="submit"].cart_button_checkout {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('../../images/button_bg.png?1297963111') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="submit"].cart_button_checkout::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, input[type="submit"]:focus, input[type="submit"].cart_button_checkout:focus {
  outline: none;
}

/* Total width = (columns * 40) - 10 */
/* line 33, ../../../src/custom2.scss */
input[type="submit"] {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #006302;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #0cff11), color-stop(10%, #00b004), color-stop(50%, #005402), color-stop(50%, #004401), color-stop(100%, #007702));
  background-image: -moz-linear-gradient(top, #0cff11 0%, #00b004 10%, #005402 50%, #004401 50%, #007702 100%);
  background-image: linear-gradient(top, #0cff11 0%, #00b004 10%, #005402 50%, #004401 50%, #007702 100%);
  border-color: #001700;
  text-shadow: black 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"], input[type="submit"]:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #005402;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #00fc05), color-stop(10%, #00a003), color-stop(50%, #004401), color-stop(50%, #003501), color-stop(100%, #006802));
  background-image: -moz-linear-gradient(top, #00fc05 0%, #00a003 10%, #004401 50%, #003501 50%, #006802 100%);
  background-image: linear-gradient(top, #00fc05 0%, #00a003 10%, #004401 50%, #003501 50%, #006802 100%);
  border-color: #000700;
  text-shadow: black 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:hover, input[type="submit"]:hover:visited, input[type="submit"]:focus, input[type="submit"]:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:active {
  background-color: #004401;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #004401), color-stop(30%, #004f02), color-stop(50%, #003a01), color-stop(50%, #002b01), color-stop(100%, #006d02));
  background-image: -moz-linear-gradient(top, #004401 0%, #004f02 30%, #003a01 50%, #002b01 50%, #006d02 100%);
  background-image: linear-gradient(top, #004401 0%, #004f02 30%, #003a01 50%, #002b01 50%, #006d02 100%);
  border-color: black;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: #001700 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #001700 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #001700 0 0.08em 0.1em 1px inset;
  box-shadow: #001700 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:active, input[type="submit"]:active:visited {
  color: white;
}

/* line 36, ../../../src/custom2.scss */
body {
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0;
}

/* line 43, ../../../src/custom2.scss */
a {
  color: #006102;
  text-decoration: none;
}

/* line 48, ../../../src/custom2.scss */
a:hover {
  text-decoration: underline;
}

/* line 52, ../../../src/custom2.scss */
a img {
  border: none;
}

/* line 56, ../../../src/custom2.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333b33;
}

/* line 58, ../../../src/custom2.scss */
h1 {
  font-size: 24px;
}

/* line 62, ../../../src/custom2.scss */
h2 {
  font-size: 18px;
}

/* line 66, ../../../src/custom2.scss */
h3 {
  font-size: 14px;
}

/* line 70, ../../../src/custom2.scss */
h4 {
  font-size: 12px;
}

/* line 74, ../../../src/custom2.scss */
.clear {
  clear: both;
}

/* line 78, ../../../src/custom2.scss */
ul {
  margin: 4px 0;
  padding-left: 17px;
}

/* line 83, ../../../src/custom2.scss */
ul.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 89, ../../../src/custom2.scss */
ul.horizontal li {
  margin: 0;
  padding: 0;
  float: left;
}

/* line 95, ../../../src/custom2.scss */
#flash_notice, #flash_alert {
  padding: 10px 0;
  text-align: center;
  color: #FFF;
}

/* line 101, ../../../src/custom2.scss */
#flash_notice {
  background-color: #267923;
}

/* line 105, ../../../src/custom2.scss */
#flash_alert {
  background-color: #871F22;
}

/* line 109, ../../../src/custom2.scss */
#flash_notice a, #flash_alert a {
  color: #FFF;
}

/* line 113, ../../../src/custom2.scss */
.field {
  margin: 10px 0;
}

/* line 117, ../../../src/custom2.scss */
.special_email_field {
  display: none;
}

/* line 121, ../../../src/custom2.scss */
label {
  display: block;
}

/* line 125, ../../../src/custom2.scss */
label.check_box {
  display: inline;
}

/*** ERRORS ***/
/* line 132, ../../../src/custom2.scss */
.field_with_errors {
  display: inline;
}

/* line 136, ../../../src/custom2.scss */
.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin: 20px 0;
  background-color: #f0f0f0;
  font-size: 12px;
}

/* line 146, ../../../src/custom2.scss */
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

/* line 156, ../../../src/custom2.scss */
.error_messages p {
  margin: 8px 10px;
}

/* line 160, ../../../src/custom2.scss */
.error_messages ul {
  margin: 0;
  margin-left: 10px;
}

/*** SECTIONS ***/
/* line 168, ../../../src/custom2.scss */
#top {
  position: relative;
}

/* line 172, ../../../src/custom2.scss */
#top .logo {
  margin-top: 50px;
  margin-left: 100px;
  padding-bottom: 10px;
}

/* line 178, ../../../src/custom2.scss */
#top .subscribe {
  position: absolute;
  bottom: 10px;
  right: 100px;
}

/* line 184, ../../../src/custom2.scss */
#top .subscribe li {
  position: relative;
  margin-left: 8px;
  font-size: 12px;
}

/* line 190, ../../../src/custom2.scss */
#top .subscribe li .name {
  display: none;
}

/* line 194, ../../../src/custom2.scss */
#top .subscribe li:hover .name {
  display: block;
  position: absolute;
  top: -22px;
  left: -84px;
  width: 200px;
  color: #000;
  text-align: center;
}

/* line 202, ../../../src/custom2.scss */
#navbar {
  position: relative;
  padding: 8px 10px 8px 10px;
  background-color: #333;
  border-top: solid 1px #FFF;
  background: #52b152;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNCUiIHN0b3AtY29sb3I9IiM1MmIxNTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OSUiIHN0b3AtY29sb3I9IiMwMDU3MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #52b152 14%, #005700 89%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #52b152), color-stop(89%, #005700));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #52b152 14%, #005700 89%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #52b152 14%, #005700 89%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #52b152 14%, #005700 89%);
  /* IE10+ */
  background: linear-gradient(top, #52b152 14%, #005700 89%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52b152', endColorstr='#005700',GradientType=0 );
  /* IE6-8 */
  border-bottom: solid 3px black;
  margin-bottom: 15px;
  height: 25px;
}

/* line 222, ../../../src/custom2.scss */
#navbar .nav {
  float: left;
  padding-top: 2px;
}

/* line 227, ../../../src/custom2.scss */
#navbar .nav li {
  padding-left: 25px;
  font-size: 14px;
  color: #BBB;
}

/* line 233, ../../../src/custom2.scss */
#navbar .nav li a {
  color: #FFF;
}

/* line 237, ../../../src/custom2.scss */
#main {
  padding-top: 15px;
  max-width: 1500px;
}

/* line 242, ../../../src/custom2.scss */
#right_bar {
  background-color: #eaeaea;
}

/* line 246, ../../../src/custom2.scss */
#pantry div {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 130px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin: 0;
  padding: 0;
  background: #00cc00;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  -webkit-box-shadow: rgba(0, 0, 128, 0.246) 3px 3px 7px;
}

/* line 255, ../../../src/custom2.scss */
#pantry_logo {
  margin-top: 5px;
  margin-left: 10px;
}

/* line 260, ../../../src/custom2.scss */
#social {
  background-color: #fff;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 130px;
}

/* line 268, ../../../src/custom2.scss */
#footer {
  clear: both;
  font-size: 12px;
  text-align: center;
  padding: 25px auto;
  color: #555;
}

/* line 275, ../../../src/custom2.scss */
.footer, .push {
  height: 4em;
  clear: both;
  width: 99.5%;
}

/* line 281, ../../../src/custom2.scss */
#logo {
  margin: 0;
  padding: 0;
  width: 950px;
  height: 150px;
  border: none;
}

/* line 283, ../../../src/custom2.scss */
#pics .pic1 {
  margin: 0;
  padding: 0;
  width: 233px;
  height: 178px;
  border: none;
}

/* line 284, ../../../src/custom2.scss */
#pics .pic2 img {
  margin: 0;
  padding: 0;
  border: 20px;
}

/* line 285, ../../../src/custom2.scss */
#pics div {
  margin: 0;
  padding: 0;
}

/* line 286, ../../../src/custom2.scss */
#pics .pic4 img {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 288, ../../../src/custom2.scss */
.content {
  margin: 0 100px;
}

/* line 292, ../../../src/custom2.scss */
.content {
  position: relative;
}

/* line 296, ../../../src/custom2.scss */
.actions {
  margin: 8px 0;
}

/* line 300, ../../../src/custom2.scss */
.actions a {
  padding: 3px 8px 2px 8px;
  font-size: 12px;
  color: #000;
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dddddd));
  background: -moz-linear-gradient(top, #f5f5f5, #dddddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#DDD');
  text-decoration: none;
}

/*** EPISODES ***/
/* line 318, ../../../src/custom2.scss */
.items {
  margin-right: 200px;
}

/* line 322, ../../../src/custom2.scss */
.unreleased {
  color: #D00;
  font-weight: bold;
  padding-left: 5px;
}

/* line 328, ../../../src/custom2.scss */
.items h2 .remove {
  font-size: 14px;
  font-weight: normal;
}

/* line 333, ../../../src/custom2.scss */
.full .item {
  padding-bottom: 18px;
  border-bottom: solid 1px #E5E5E5;
  margin-bottom: 20px;
}

/* line 339, ../../../src/custom2.scss */
.full .screenshot {
  float: left;
}

/* line 343, ../../../src/custom2.scss */
.screenshot img {
  border: solid 1px #999;
  display: block;
}

/* line 348, ../../../src/custom2.scss */
.full .main {
  margin-left: 215px;
}

/* line 352, ../../../src/custom2.scss */
.full .info {
  color: #999;
  font-size: 12px;
}

/* line 357, ../../../src/custom2.scss */
.full .number {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 362, ../../../src/custom2.scss */
.full h2, .item h2 a {
  color: #E98C08;
}

/* line 366, ../../../src/custom2.scss */
.full h2 {
  margin: 3px 0;
}

/* line 370, ../../../src/custom2.scss */
.full .description {
  margin-bottom: 17px;
}

/* line 374, ../../../src/custom2.scss */
.full .stats {
  font-size: 11px;
  color: #777;
  font-weight: normal;
  padding-left: 5px;
}

/* line 381, ../../../src/custom2.scss */
.full .stats a {
  color: #777;
}

/* line 385, ../../../src/custom2.scss */
.full .watch_button {
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #466A98;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  background: #386FB2;
  background: -webkit-gradient(linear, left top, left bottom, from(#67b0ef), to(#2b5ea4));
  background: -moz-linear-gradient(top, #579cea, #2b5ea4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#579CEA', endColorstr='#2B5EA4');
  text-decoration: none;
  text-shadow: 0 -1px 0 #003366;
}

/* line 402, ../../../src/custom2.scss */
.full .notes {
  font-size: 11px;
  margin-top: 10px;
}

/* line 407, ../../../src/custom2.scss */
.list {
  border-collapse: collapse;
  width: 100%;
}

/* line 412, ../../../src/custom2.scss */
.list td, .list th {
  border-bottom: solid 1px #CCC;
}

/* line 416, ../../../src/custom2.scss */
.list td {
  padding: 5px;
}

/* line 420, ../../../src/custom2.scss */
.list th {
  padding: 5px;
  text-align: left;
  color: #777;
}

/* line 426, ../../../src/custom2.scss */
.list .comment_count {
  color: #000;
}

/* line 430, ../../../src/custom2.scss */
.items .grid {
  margin-right: -30px;
}

/* line 434, ../../../src/custom2.scss */
.grid .item {
  border: solid 1px #BBB;
  padding: 5px 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  float: left;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}

/* line 450, ../../../src/custom2.scss */
.item {
  padding-bottom: 70px !important;
}

/* line 454, ../../../src/custom2.scss */
.grid .screenshot img {
  margin: 3px;
  border: none;
}

/* line 459, ../../../src/custom2.scss */
.grid .name {
  font-size: 10px;
  position: absolute;
  top: 105px;
  left: 5px;
}

/* line 466, ../../../src/custom2.scss */
.grid .price {
  font-size: 10px;
  position: absolute;
  top: 143px;
  right: 5px;
}

/* line 473, ../../../src/custom2.scss */
.grid .add {
  position: absolute;
  top: 155px;
  left: 0;
  margin-left: 2px;
}

/*** FILTERS ***/
/* line 482, ../../../src/custom2.scss */
.items .filters {
  margin-bottom: 15px;
}

/* line 486, ../../../src/custom2.scss */
.items .filter {
  border: solid 1px #999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #DDD;
  padding: 2px 8px;
  margin-bottom: 10px;
  font-size: 12px;
}

/* line 497, ../../../src/custom2.scss */
.items .filter a {
  padding-left: 5px;
}

/*** PAGINATION ***/
/* line 504, ../../../src/custom2.scss */
.pagination {
  margin: 8px 0;
  font-size: 12px;
}

/* line 509, ../../../src/custom2.scss */
.pagination .disabled {
  color: #999;
}

/* line 513, ../../../src/custom2.scss */
.pagination em {
  font-style: normal;
}

/* line 517, ../../../src/custom2.scss */
.pagination a, .pagination em, .pagination .previous_page, .pagination .next_page {
  padding: 4px;
}

/* line 521, ../../../src/custom2.scss */
#pageof {
  float: right;
  margin: 0.25em 1em;
}

/*** SIDE ***/
/* line 528, ../../../src/custom2.scss */
.side {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 534, ../../../src/custom2.scss */
.side .banner {
  margin-top: 15px;
}

/* line 538, ../../../src/custom2.scss */
.item_views {
  padding: 0 20px;
  margin: 0;
  font-weight: normal;
  color: #444;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: solid 1px #BBB;
  background-color: #DDD;
  background: #eeeeee;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
  /* IE6-8 */
  margin-bottom: 14px;
}

/* line 564, ../../../src/custom2.scss */
.item_views .view {
  padding-left: 3px;
}

/* line 568, ../../../src/custom2.scss */
.item_views .view img {
  background-color: #FFF;
  background: #eeeeee;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #eeeeee 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(top, #eeeeee 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  /* IE6-8 */
  padding: 7px;
  vertical-align: middle;
  border: solid 1px #BBB;
  border-top: none;
  border-bottom: none;
}

/* line 588, ../../../src/custom2.scss */
.item_views .view a img {
  background: none;
  padding: 2px;
  border: none;
}

/*** CATEGORIES ***/
/* line 597, ../../../src/custom2.scss */
.categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #BBB;
  border-top: none;
  padding: 5px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

/* line 612, ../../../src/custom2.scss */
.categories li {
  margin: 5px 0;
  font-size: 14px;
}

/* line 617, ../../../src/custom2.scss */
.categories h2 {
  padding: 4px 20px;
  margin: 0;
  font-weight: normal;
  color: #444;
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background: -moz-linear-gradient(top, #eeeeee, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
}

/*** PRODUCTS ***/
/* line 641, ../../../src/custom2.scss */
#item {
  margin: 0 auto;
  width: 962px;
}

/* line 646, ../../../src/custom2.scss */
#item.legacy {
  width: 802px;
}

/* line 650, ../../../src/custom2.scss */
#item #video_wrapper {
  border: solid 1px #777;
  margin-bottom: 14px;
}

/* line 655, ../../../src/custom2.scss */
#item video {
  display: block;
}

/* line 659, ../../../src/custom2.scss */
#item > .info {
  position: relative;
  margin-bottom: 15px;
  background-color: #FFF;
}

/* line 665, ../../../src/custom2.scss */
#item .info .screenshot {
  float: left;
  padding-right: 14px;
}

/* line 670, ../../../src/custom2.scss */
#item .info h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-bottom: 3px;
}

/* line 677, ../../../src/custom2.scss */
#item .info h1 .position {
  color: #999;
}

/* line 681, ../../../src/custom2.scss */
#item .info .details {
  color: #777;
  font-size: 12px;
}

/* line 686, ../../../src/custom2.scss */
#item .info .watch {
  padding-bottom: 8px;
}

/* line 690, ../../../src/custom2.scss */
#item .info .watch_button {
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #466A98;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  background: #386FB2;
  background: -webkit-gradient(linear, left top, left bottom, from(#67b0ef), to(#2b5ea4));
  background: -moz-linear-gradient(top, #579cea, #2b5ea4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#579CEA', endColorstr='#2B5EA4');
  text-decoration: none;
  text-shadow: 0 -1px 0 #003366;
}

/* line 707, ../../../src/custom2.scss */
#item .info .details a {
  color: #777;
}

/* line 711, ../../../src/custom2.scss */
#item .info .description {
  margin-top: 6px;
  margin-bottom: 18px;
  margin-right: 140px;
}

/* line 717, ../../../src/custom2.scss */
#item.legacy .info .description {
  margin-right: 0;
}

/* line 721, ../../../src/custom2.scss */
#item .info .social {
  position: absolute;
  right: -14px;
  bottom: 18px;
}

/* line 727, ../../../src/custom2.scss */
#item .info .downloads {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
}

/* line 734, ../../../src/custom2.scss */
#item .info .downloads li {
  margin-left: 8px;
}

/* line 738, ../../../src/custom2.scss */
#item .info .downloads li .overlay {
  font-size: 12px;
  display: none;
  color: #999;
  position: absolute;
  top: -22px;
  right: 110px;
  width: 220px;
  text-align: right;
}

/* line 749, ../../../src/custom2.scss */
#item .info .downloads li:hover .overlay {
  display: block;
}

/* line 753, ../../../src/custom2.scss */
#item .video_info .screenshot, #item .video_info .description, #item .video_info .watch {
  display: none;
}

/* line 757, ../../../src/custom2.scss */
#item .nav {
  padding: 0 8px;
  margin: 0;
  height: 35px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background: -moz-linear-gradient(top, #eeeeee, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
}

/* line 778, ../../../src/custom2.scss */
#item .nav li {
  margin: 0 6px;
  margin-top: 9px;
}

/* line 783, ../../../src/custom2.scss */
#item .nav li a {
  color: #393939;
  padding: 5px 8px;
  padding-bottom: 10px;
}

/* line 789, ../../../src/custom2.scss */
#item .nav li a.selected {
  border: solid 1px #CCC;
  border-bottom: none;
  background-color: #F5F5F5;
  color: #555;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  cursor: default;
}

/* line 803, ../../../src/custom2.scss */
#item .nav li a.selected:hover {
  text-decoration: none;
}

/* line 807, ../../../src/custom2.scss */
#item .nav .previous, #item .nav .next {
  float: right;
}

/* line 811, ../../../src/custom2.scss */
#item .nav_section {
  background-color: #F5F5F5;
  border: solid 1px #BBB;
  border-top: none;
  padding: 10px 20px;
  position: relative;
}

/* line 819, ../../../src/custom2.scss */
#item .nav_section .progress {
  z-index: 100;
  position: absolute;
  top: 40px;
  left: 400px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 50px;
}

/* line 832, ../../../src/custom2.scss */
#item.legacy .nav_section .progress {
  left: 320px;
}

/* line 836, ../../../src/custom2.scss */
#item .asciicasts {
  padding-right: 20px;
}

/* line 840, ../../../src/custom2.scss */
#item .browse_code img {
  vertical-align: bottom;
}

/* line 844, ../../../src/custom2.scss */
#item .show_notes ul {
  margin-top: -10px;
  /* quick hack to move resources list under headline */
  padding-top: 0;
  margin-bottom: 20px;
}

/* line 850, ../../../src/custom2.scss */
#item .item_actions {
  float: right;
}

/* line 854, ../../../src/custom2.scss */
#item .similar {
  margin-top: 15px;
}

/* line 858, ../../../src/custom2.scss */
#item .similar .item:last-child {
  border-bottom: none;
}

/* line 864, ../../../src/custom2.scss */
.small_pretty_button {
  font-size: 10px;
  padding: 2px 5px 3px 5px;
  font-weight: bold;
  border: 1px solid #539846;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  color: #FFF;
  background: #55b238;
  background: -webkit-gradient(linear, left top, left bottom, from(#77ef67), to(#48a42b));
  background: -moz-linear-gradient(top, #77ef67, #48a42b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77ef67', endColorstr='#48a42b');
  text-decoration: none;
  text-shadow: 0 -1px 0 #116600;
}

/* line 881, ../../../src/custom2.scss */
.small_pretty_button:hover {
  text-decoration: none;
}

/* line 885, ../../../src/custom2.scss */
.pretty_button {
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #539846;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  background: #55b238;
  background: -webkit-gradient(linear, left top, left bottom, from(#77ef67), to(#48a42b));
  background: -moz-linear-gradient(top, #77ef67, #48a42b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77ef67', endColorstr='#48a42b');
  text-decoration: none;
  text-shadow: 0 -1px 0 #116600;
}

/* line 902, ../../../src/custom2.scss */
.pretty_button:hover {
  text-decoration: none;
}

/* START:cartmain */
/* Styles for the cart in the main page */
/* line 909, ../../../src/custom2.scss */
.cart_title {
  font: 150% bold;
}

/* line 911, ../../../src/custom2.scss */
.item_price, .total_line {
  text-align: right;
}

/* line 913, ../../../src/custom2.scss */
.total_line .total_cell {
  background-color: #49ea12;
  font-weight: bold;
  border-top: double #2b8b0b;
  text-align: right;
}

/* START:cartside */
/* Styles for the cart in the sidebar */
/* line 923, ../../../src/custom2.scss */
#response {
  width: 100%;
  background-color: #d9fbcd;
}

/* line 925, ../../../src/custom2.scss */
#cart {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin: 0;
  padding: 0;
  background: #00cc00;
  border: 1px solid #00c823;
  width: 100%;
  max-width: 260px;
  background-color: #90f46e;
  font-size: 100%;
  margin: 0 0 20px 0;
  padding: 1px !important;
  display: inline-block;
}

/* line 943, ../../../src/custom2.scss */
#cartListTable tbody tr:nth-child(even) td, tbody tr.even td {
  background: #BAFFA2;
}

/* line 945, ../../../src/custom2.scss */
#cart table {
  width: 100%;
  padding: 0;
  font-size: 100%;
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}

/* line 954, ../../../src/custom2.scss */
input[type="submit"].cart_button_checkout {
  float: right;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 17px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #006302;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #0cff11), color-stop(10%, #00b004), color-stop(50%, #005402), color-stop(50%, #004401), color-stop(100%, #007702));
  background-image: -moz-linear-gradient(top, #0cff11 0%, #00b004 10%, #005402 50%, #004401 50%, #007702 100%);
  background-image: linear-gradient(top, #0cff11 0%, #00b004 10%, #005402 50%, #004401 50%, #007702 100%);
  border-color: #001700;
  text-shadow: black 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"].cart_button_checkout, input[type="submit"].cart_button_checkout:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"].cart_button_checkout:hover, input[type="submit"].cart_button_checkout:focus {
  background-color: #005402;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #00fc05), color-stop(10%, #00a003), color-stop(50%, #004401), color-stop(50%, #003501), color-stop(100%, #006802));
  background-image: -moz-linear-gradient(top, #00fc05 0%, #00a003 10%, #004401 50%, #003501 50%, #006802 100%);
  background-image: linear-gradient(top, #00fc05 0%, #00a003 10%, #004401 50%, #003501 50%, #006802 100%);
  border-color: #000700;
  text-shadow: black 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"].cart_button_checkout:hover, input[type="submit"].cart_button_checkout:hover:visited, input[type="submit"].cart_button_checkout:focus, input[type="submit"].cart_button_checkout:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"].cart_button_checkout:active {
  background-color: #004401;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #004401), color-stop(30%, #004f02), color-stop(50%, #003a01), color-stop(50%, #002b01), color-stop(100%, #006d02));
  background-image: -moz-linear-gradient(top, #004401 0%, #004f02 30%, #003a01 50%, #002b01 50%, #006d02 100%);
  background-image: linear-gradient(top, #004401 0%, #004f02 30%, #003a01 50%, #002b01 50%, #006d02 100%);
  border-color: black;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: #001700 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #001700 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #001700 0 0.08em 0.1em 1px inset;
  box-shadow: #001700 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"].cart_button_checkout:active, input[type="submit"].cart_button_checkout:active:visited {
  color: white;
}

/* END:cartside */
/* line 958, ../../../src/custom2.scss */
.empty_basket {
  background-position: 0 -16px;
  height: 16px;
  width: 19px;
}

/* line 962, ../../../src/custom2.scss */
.full_basket {
  background-position: 0 0px;
  height: 16px;
  width: 19px;
}

/* line 966, ../../../src/custom2.scss */
.empty_basket, .full_basket, .top_basket {
  display: inline-block;
  background-image: url("/images/basket.png");
  background-repeat: no-repeat;
}

/* line 972, ../../../src/custom2.scss */
#holiday {
  max-width: 268px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin: 0;
  padding: 0;
  background: #00cc00;
  background-color: #ddd;
  margin: 1px;
  padding: 1px;
}

/* line 980, ../../../src/custom2.scss */
#holiday h3 {
  margin: 5px auto;
  width: 70%;
}

/* line 984, ../../../src/custom2.scss */
#holiday_inner {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin: 0;
  padding: 0;
  background: #00cc00;
  background-color: #eee;
  margin: 1px;
  padding: 5px;
}

/* line 990, ../../../src/custom2.scss */
#holiday_inner p {
  font-style: italic;
}

/* line 995, ../../../src/custom2.scss */
#holiday_inner a {
  color: #fff;
}

/* extras */
/* line 1000, ../../../src/custom2.scss */
.upper {
  text-transform: uppercase;
}

/* line 1001, ../../../src/custom2.scss */
.italic {
  font-style: italic;
}

/* line 1002, ../../../src/custom2.scss */
.right {
  float: right;
}

/* line 1003, ../../../src/custom2.scss */
.justify {
  text-align: justify;
  text-justify: inter-word;
}

/* line 1005, ../../../src/custom2.scss */
.form_in_place input[type="text"] {
  width: 50px;
  height: 1em;
  margin: 0;
  padding: 0;
}

/* line 1007, ../../../src/custom2.scss */
#video {
  text-align: center;
  margin: 1em;
  padding: 1em;
}

/* line 1009, ../../../src/custom2.scss */
.top_section {
  text-align: center;
  color: #FFFFFF;
  float: left;
  height: 30px;
  width: 260px;
  background-image: url("/images/SectionSprites.png");
  background-position: 0 0;
}

/* line 1019, ../../../src/custom2.scss */
.top_section span {
  color: #FFFFFF;
  font-size: 1.0em;
  font-weight: 700;
  line-height: 1.5em;
  text-shadow: 1px 1px 1px #000;
}

/* line 1027, ../../../src/custom2.scss */
.empty_basket {
  background-position: 0 -16px;
  height: 16px;
  width: 19px;
}

/* line 1031, ../../../src/custom2.scss */
.full_basket {
  background-position: 0 0px;
  height: 16px;
  width: 19px;
}

/* line 1035, ../../../src/custom2.scss */
.empty_basket, .full_basket, .top_basket {
  display: inline-block;
  background-image: url("/images/basket.png");
  background-repeat: no-repeat;
}

/* line 1041, ../../../src/custom2.scss */
.sprite {
  display: inline-block;
}

/* fix for jquery ui */
/* line 1046, ../../../src/custom2.scss */
table.ui-datepicker-calendar thead tr th {
  background-color: green !important;
}

/* line 1048, ../../../src/custom2.scss */
#twtr-widget-1 .twtr-tweet a:hover {
  text-decoration: none !important;
  color: red !important;
  background-color: #006302 !important;
}

/*** SEARCH OPTION ***/
/* line 1054, ../../../src/custom2.scss */
.search_option {
  margin-bottom: 15px;
}

/* line 1058, ../../../src/custom2.scss */
.search_option ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #BBB;
  border-top: none;
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

/* line 1073, ../../../src/custom2.scss */
.search_option li {
  margin: 5px 0;
  font-size: 14px;
}

/* line 1078, ../../../src/custom2.scss */
.search_option h2 {
  padding: 4px 20px;
  margin: 0;
  font-weight: normal;
  color: #444;
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background: -moz-linear-gradient(top, #eeeeee, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');
}

/* line 1099, ../../../src/custom2.scss */
.notebook {
  float: right;
  display: block;
  background-color: white;
  background-image: url("/images/shoplist.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  width: 270px;
  max-height: 170px;
  min-height: 282px;
  padding-top: 75px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 22px;
  margin-left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Comic Sans MS';
  font-size: 11px;
}
