/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, input[type="submit"], input[type="submit"].cart_button_checkout {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('../../images/button_bg.png?1297963111') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="submit"].cart_button_checkout::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, input[type="submit"]:focus, input[type="submit"].cart_button_checkout:focus {
  outline: none;
}

/* Total width = (columns * 40) - 10 */
/* line 50, ../../../src/custom2.scss */
input[type="submit"] {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #006302;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #0cff11), color-stop(10%, #00b004), color-stop(50%, #005402), color-stop(50%, #004401), color-stop(100%, #007702));
  background-image: -moz-linear-gradient(top, #0cff11 0%, #00b004 10%, #005402 50%, #004401 50%, #007702 100%);
  background-image: linear-gradient(top, #0cff11 0%, #00b004 10%, #005402 50%, #004401 50%, #007702 100%);
  border-color: #001700;
  text-shadow: black 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"], input[type="submit"]:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #005402;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #00fc05), color-stop(10%, #00a003), color-stop(50%, #004401), color-stop(50%, #003501), color-stop(100%, #006802));
  background-image: -moz-linear-gradient(top, #00fc05 0%, #00a003 10%, #004401 50%, #003501 50%, #006802 100%);
  background-image: linear-gradient(top, #00fc05 0%, #00a003 10%, #004401 50%, #003501 50%, #006802 100%);
  border-color: #000700;
  text-shadow: black 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:hover, input[type="submit"]:hover:visited, input[type="submit"]:focus, input[type="submit"]:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:active {
  background-color: #004401;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #004401), color-stop(30%, #004f02), color-stop(50%, #003a01), color-stop(50%, #002b01), color-stop(100%, #006d02));
  background-image: -moz-linear-gradient(top, #004401 0%, #004f02 30%, #003a01 50%, #002b01 50%, #006d02 100%);
  background-image: linear-gradient(top, #004401 0%, #004f02 30%, #003a01 50%, #002b01 50%, #006d02 100%);
  border-color: black;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: #001700 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #001700 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #001700 0 0.08em 0.1em 1px inset;
  box-shadow: #001700 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"]:active, input[type="submit"]:active:visited {
  color: white;
}

/* line 53, ../../../src/custom2.scss */
body {
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0;
}

/* line 60, ../../../src/custom2.scss */
a {
  color: #006102;
  text-decoration: none;
}

/* line 65, ../../../src/custom2.scss */
a:hover {
  text-decoration: underline;
}

/* line 69, ../../../src/custom2.scss */
a img {
  border: none;
}

/* line 73, ../../../src/custom2.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333b33;
}

/* line 75, ../../../src/custom2.scss */
h1 {
  font-size: 24px;
}

/* line 79, ../../../src/custom2.scss */
h2 {
  font-size: 18px;
}

/* line 83, ../../../src/custom2.scss */
h3 {
  font-size: 14px;
}

/* line 87, ../../../src/custom2.scss */
h4 {
  font-size: 12px;
}

/* line 91, ../../../src/custom2.scss */
.clear {
  clear: both;
}

/* line 95, ../../../src/custom2.scss */
ul {
  margin: 4px 0;
  padding-left: 17px;
}

/* line 100, ../../../src/custom2.scss */
ul.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 106, ../../../src/custom2.scss */
ul.horizontal li {
  margin: 0;
  padding: 0;
  float: left;
}

/* line 112, ../../../src/custom2.scss */
#flash_notice, #flash_error, #flash_alert, #notice {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin: 0;
  padding: 0;
  background: #00cc00;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  -webkit-box-shadow: rgba(0, 0, 128, 0.246) 3px 3px 7px;
  width: 99%;
  height: 40px;
  text-align: center;
  color: #FFF;
  position: absolute;
  top: 100;
  left: 5px;
  z-index: 10;
  font-size: 24px;
}

/* line 126, ../../../src/custom2.scss */
#flash_notice, #notice {
  background-color: #267923;
  border: solid 1px #6C6;
}

/* line 128, ../../../src/custom2.scss */
#flash_error {
  background-color: #871F22;
  border: solid 1px #C66;
}

/* line 130, ../../../src/custom2.scss */
#flash_alert {
  background-color: #FFAB56;
  border: solid 1px #C66;
}

/* line 132, ../../../src/custom2.scss */
#flash_notice a, #flash_alert a {
  color: #FFF;
}

/* line 136, ../../../src/custom2.scss */
.field {
  margin: 10px 0;
}

/* line 140, ../../../src/custom2.scss */
.special_email_field {
  display: none;
}

/* line 144, ../../../src/custom2.scss */
label {
  display: block;
}

/* line 148, ../../../src/custom2.scss */
label.check_box {
  display: inline;
}

/*** ERRORS ***/
/* line 154, ../../../src/custom2.scss */
.field_with_errors {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin: 0;
  padding: 0;
  background: #00cc00;
  -moz-box-shadow: 0 0 8px rgba(255, 22, 22, 0.5);
  -webkit-box-shadow: rgba(255, 22, 22, 0.5) 3px 3px 7px;
  padding: 10px;
  display: inline;
}

/* line 156, ../../../src/custom2.scss */
.message {
  background-color: red;
  color: #ffe;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-left: 1em;
  padding: 2px 5px;
}

/* line 164, ../../../src/custom2.scss */
div.field_with_errors div.ui-effects-wrapper {
  display: inline-block !important;
}

/* line 166, ../../../src/custom2.scss */
#error_explanation, #errorExplanation, .error_explanation {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin: 0;
  padding: 0;
  background: #00cc00;
  -moz-box-shadow: 0 0 8px rgba(255, 22, 22, 0.5);
  -webkit-box-shadow: rgba(255, 22, 22, 0.5) 3px 3px 7px;
  width: 99%;
  border: 2px solid #ff1616;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 175, ../../../src/custom2.scss */
#error_explanation h2, #errorExplanation h2, .error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #ff1616;
  color: #fff;
}
/* line 183, ../../../src/custom2.scss */
#error_explanation p, #errorExplanation p, .error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
/* line 187, ../../../src/custom2.scss */
#error_explanation ul, #errorExplanation ul, .error_explanation ul {
  margin: 2px 24px;
}
/* line 189, ../../../src/custom2.scss */
#error_explanation ul li, #errorExplanation ul li, .error_explanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* line 194, ../../../src/custom2.scss */
.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin: 20px 0;
  background-color: #f0f0f0;
  font-size: 12px;
}

/* line 204, ../../../src/custom2.scss */
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

/* line 214, ../../../src/custom2.scss */
.error_messages p {
  margin: 8px 10px;
}

/* line 218, ../../../src/custom2.scss */
.error_messages ul {
  margin: 0;
  margin-left: 10px;
}

/*** SECTIONS ***/
/* line 226, ../../../src/custom2.scss */
#top {
  position: relative;
}

/* line 230, ../../../src/custom2.scss */
#top .logo {
  margin-top: 50px;
  margin-left: 100px;
  padding-bottom: 10px;
}

/* line 236, ../../../src/custom2.scss */
#top .subscribe {
  position: absolute;
  bottom: 10px;
  right: 100px;
}

/* line 242, ../../../src/custom2.scss */
#top .subscribe li {
  position: relative;
  margin-left: 8px;
  font-size: 12px;
}

/* line 248, ../../../src/custom2.scss */
#top .subscribe li .name {
  display: none;
}

/* line 252, ../../../src/custom2.scss */
#top .subscribe li:hover .name {
  display: block;
  position: absolute;
  top: -22px;
  left: -84px;
  width: 200px;
  color: #000;
  text-align: center;
}

/* line 260, ../../../src/custom2.scss */
#navbar {
  position: relative;
  padding: 0px;
  background-color: #333;
  border-top: solid 1px #FFF;
  background: #52b152;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNCUiIHN0b3AtY29sb3I9IiM1MmIxNTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OSUiIHN0b3AtY29sb3I9IiMwMDU3MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #52b152 14%, #005700 89%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #52b152), color-stop(89%, #005700));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #52b152 14%, #005700 89%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #52b152 14%, #005700 89%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #52b152 14%, #005700 89%);
  /* IE10+ */
  background: linear-gradient(top, #52b152 14%, #005700 89%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$nav1', endColorstr='$nav2',GradientType=0 );
  /* IE6-8 */
  border-bottom: solid 3px #5a1717;
  margin-bottom: 10px;
  height: 40px;
}

/* line 280, ../../../src/custom2.scss */
#navbar .nav {
  float: left;
}

/* line 284, ../../../src/custom2.scss */
#navbar .nav li {
  margin: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  font-size: 14px;
  color: #BBB;
  border-right: solid 1px #5a1717;
}

/* line 295, ../../../src/custom2.scss */
#navbar .nav li a {
  margin: 0px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  color: #FFF;
}

/* line 304, ../../../src/custom2.scss */
#navbar .nav li a:hover {
  background-color: #98d198;
}

/* line 309, ../../../src/custom2.scss */
#navbar .nav li .current {
  background-color: #49a149;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
}

/* Styling needed for the navigatio bar */
/* line 317, ../../../src/custom2.scss */
ul#nav-bar {
  background: #52b152;
  /* old browsers */
  background: -moz-linear-gradient(top, #52b152 0%, #005700 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52b152), color-stop(100%, #005700));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$nav1', endColorstr='$nav2',GradientType=0 );
  /* ie */
  border: 1px solid #757575;
  border-bottom: 3px solid #5a1717;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  padding: 10px 20px;
  cursor: default;
}

/* line 331, ../../../src/custom2.scss */
ul#nav-bar li {
  display: inline;
  margin-right: -4px;
}

/* line 336, ../../../src/custom2.scss */
ul#nav-bar li a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  border-right: 1px solid #6f6f6f;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

/* line 347, ../../../src/custom2.scss */
ul#nav-bar li:first-child a {
  border-left: none;
}

/* line 351, ../../../src/custom2.scss */
ul#nav-bar li:nth-child(2) a {
  border-left: none;
}

/* line 355, ../../../src/custom2.scss */
ul#nav-bar li a:hover {
  color: #ccc;
  background: rgba(0, 0, 0, 0.1);
}

/* line 360, ../../../src/custom2.scss */
ul#nav-bar li .current, ul#nav-bar li a:hover {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  background: #00e300;
  background: -moz-linear-gradient(top, #00e300 0%, #00a200 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00e300), color-stop(100%, #00a200));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$navcurrent1', endColorstr='$navcurrent2',GradientType=0 );
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -moz-box-shadow: 0px -1px 5px black;
  -webkit-box-shadow: 0px -1px 5px black;
  box-shadow: 0px -1px 5px black;
  filter: progid:DXImageTransform.Microsoft.Shadow(strength=0, direction=0, color='#000000');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=0, Direction=0, Color='#000000')";
  color: #fff;
}

/* End of styling needed for the navigation bar */
/* line 382, ../../../src/custom2.scss */
#main {
  padding-top: 15px;
  max-width: 1500px;
}

/* line 387, ../../../src/custom2.scss */
#right_bar {
  background-color: #eaeaea;
}

/* line 391, ../../../src/custom2.scss */
#pantry div {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 130px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin: 0;
  padding: 0;
  background: #00cc00;
  -moz-box-shadow: 0 0 8px rgba(78, 78, 78, 0.5);
  -webkit-box-shadow: rgba(0, 0, 128, 0.246) 3px 3px 7px;
}

/* line 400, ../../../src/custom2.scss */
#pantry_logo {
  margin-top: 5px;
  margin-left: 10px;
}

/* line 405, ../../../src/custom2.scss */
#social {
  background-color: #fff;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 130px;
}

/* line 413, ../../../src/custom2.scss */
#footer {
  clear: both;
  font-size: 12px;
  text-align: center;
  padding: 25px auto;
  color: #555;
}

/* line 420, ../../../src/custom2.scss */
.footer, .push {
  height: 4em;
  clear: both;
  width: 99.5%;
}

/* line 426, ../../../src/custom2.scss */
#logo {
  margin: 0;
  padding: 0;
  width: 950px;
  height: 150px;
  border: none;
}

/* line 429, ../../../src/custom2.scss */
#shop_button {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 437, ../../../src/custom2.scss */
#pics .pic1 {
  margin: 0;
  padding: 0;
  width: 233px;
  height: 178px;
  border: none;
}

/* line 438, ../../../src/custom2.scss */
#pics .pic2 img {
  margin: 0;
  padding: 0;
  border: 20px;
}

/* line 439, ../../../src/custom2.scss */
#pics div {
  margin: 0;
  padding: 0;
}

/* line 440, ../../../src/custom2.scss */
#pics .pic4 img {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 442, ../../../src/custom2.scss */
.content {
  margin: 0 100px;
}

/* line 446, ../../../src/custom2.scss */
.content {
  position: relative;
}

/* line 450, ../../../src/custom2.scss */
.actions {
  margin: 8px 0;
}

/* line 454, ../../../src/custom2.scss */
.actions a {
  padding: 3px 8px 2px 8px;
  font-size: 12px;
  color: #000;
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dddddd));
  background: -moz-linear-gradient(top, #f5f5f5, #dddddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#DDD');
  text-decoration: none;
}

/*** EPISODES ***/
/* line 472, ../../../src/custom2.scss */
.items {
  margin-right: 200px;
}

/* line 476, ../../../src/custom2.scss */
.unreleased {
  color: #D00;
  font-weight: bold;
  padding-left: 5px;
}

/* line 482, ../../../src/custom2.scss */
.items h2 .remove {
  font-size: 14px;
  font-weight: normal;
}

/* line 487, ../../../src/custom2.scss */
.full .item {
  padding-bottom: 18px;
  border-bottom: solid 1px #52b152;
  margin-bottom: 20px;
}

/* line 493, ../../../src/custom2.scss */
.full .screenshot {
  float: left;
}

/* line 497, ../../../src/custom2.scss */
.screenshot img {
  border: solid 1px #999;
  display: block;
}

/* line 502, ../../../src/custom2.scss */
.full .main {
  margin-left: 215px;
}

/* line 506, ../../../src/custom2.scss */
.full .info {
  color: #999;
  font-size: 12px;
}

/* line 511, ../../../src/custom2.scss */
.full .number {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 516, ../../../src/custom2.scss */
.full h2, .item h2 a {
  color: #E98C08;
}

/* line 520, ../../../src/custom2.scss */
.full h2 {
  margin: 3px 0;
}

/* line 524, ../../../src/custom2.scss */
.full .description {
  margin-bottom: 17px;
}

/* line 528, ../../../src/custom2.scss */
.full .stats {
  font-size: 11px;
  color: #777;
  font-weight: normal;
  padding-left: 5px;
}

/* line 535, ../../../src/custom2.scss */
.full .stats a {
  color: #777;
}

/* line 539, ../../../src/custom2.scss */
.full .watch_button {
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #466A98;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  background: #386FB2;
  background: -webkit-gradient(linear, left top, left bottom, from(#67b0ef), to(#2b5ea4));
  background: -moz-linear-gradient(top, #579cea, #2b5ea4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#579CEA', endColorstr='#2B5EA4');
  text-decoration: none;
  text-shadow: 0 -1px 0 #003366;
}

/* line 556, ../../../src/custom2.scss */
.full .notes {
  font-size: 11px;
  margin-top: 10px;
}

/* line 561, ../../../src/custom2.scss */
.list {
  border-collapse: collapse;
  width: 100%;
}

/* line 566, ../../../src/custom2.scss */
.list td, .list th {
  border-bottom: solid 1px #CCC;
}

/* line 570, ../../../src/custom2.scss */
.list td {
  padding: 5px;
}

/* line 574, ../../../src/custom2.scss */
.list th {
  padding: 5px;
  text-align: left;
  color: #777;
}

/* line 580, ../../../src/custom2.scss */
.list .comment_count {
  color: #000;
}

/* line 584, ../../../src/custom2.scss */
.items .grid {
  margin-right: -30px;
}

/* line 588, ../../../src/custom2.scss */
.grid .item {
  border: solid 1px #BBB;
  padding: 5px 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  float: left;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}

/* line 604, ../../../src/custom2.scss */
.item {
  padding-bottom: 70px !important;
}

/* line 608, ../../../src/custom2.scss */
.grid .screenshot img {
  margin: 3px;
  border: none;
}

/* line 613, ../../../src/custom2.scss */
.grid .name {
  font-size: 10px;
  position: absolute;
  top: 105px;
  left: 5px;
}

/* line 620, ../../../src/custom2.scss */
.grid .price {
  font-size: 10px;
  position: absolute;
  top: 143px;
  right: 5px;
}

/* line 627, ../../../src/custom2.scss */
.grid .add {
  position: absolute;
  top: 155px;
  left: 0;
  margin-left: 2px;
}

/*** FILTERS ***/
/* line 636, ../../../src/custom2.scss */
.items .filters {
  margin-bottom: 15px;
}

/* line 640, ../../../src/custom2.scss */
.items .filter {
  border: solid 1px #999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #DDD;
  padding: 2px 8px;
  margin-bottom: 10px;
  font-size: 12px;
}

/* line 651, ../../../src/custom2.scss */
.items .filter a {
  padding-left: 5px;
}

/*** PAGINATION ***/
/* line 658, ../../../src/custom2.scss */
.pagination {
  margin: 8px 0;
  font-size: 12px;
}

/* line 663, ../../../src/custom2.scss */
.pagination .disabled {
  color: #999;
}

/* line 667, ../../../src/custom2.scss */
.pagination em {
  font-style: normal;
}

/* line 671, ../../../src/custom2.scss */
.pagination a, .pagination em, .pagination .previous_page, .pagination .next_page {
  padding: 4px;
}

/* line 675, ../../../src/custom2.scss */
#pageof {
  float: right;
  margin: 0.25em 1em;
}

/*** SIDE ***/
/* line 682, ../../../src/custom2.scss */
.side {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 688, ../../../src/custom2.scss */
.side .banner {
  margin-top: 15px;
}

/* line 692, ../../../src/custom2.scss */
.item_views {
  padding: 0 20px;
  margin: 0;
  font-weight: normal;
  color: #444;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: solid 1px #BBB;
  background-color: #DDD;
  background: #eeeeee;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
  /* IE6-8 */
  margin-bottom: 14px;
}

/* line 718, ../../../src/custom2.scss */
.item_views .view {
  padding-left: 3px;
}

/* line 722, ../../../src/custom2.scss */
.item_views .view img {
  background-color: #FFF;
  background: #eeeeee;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #eeeeee 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(top, #eeeeee 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  /* IE6-8 */
  padding: 7px;
  vertical-align: middle;
  border: solid 1px #BBB;
  border-top: none;
  border-bottom: none;
}

/* line 742, ../../../src/custom2.scss */
.item_views .view a img {
  background: none;
  padding: 2px;
  border: none;
}

/*** CATEGORIES ***/
/* line 751, ../../../src/custom2.scss */
.categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #BBB;
  border-top: none;
  padding: 5px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

/* line 766, ../../../src/custom2.scss */
.categories li {
  margin: 5px 0;
  font-size: 14px;
}

/* line 771, ../../../src/custom2.scss */
.categories h2 {
  padding: 4px 20px;
  margin: 0;
  font-weight: normal;
  color: #444;
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background: -moz-linear-gradient(top, #eeeeee, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
}

/*** PRODUCTS ***/
/* line 795, ../../../src/custom2.scss */
#item {
  margin: 0 auto;
  width: 962px;
}

/* line 800, ../../../src/custom2.scss */
#item.legacy {
  width: 802px;
}

/* line 804, ../../../src/custom2.scss */
#item #video_wrapper {
  border: solid 1px #777;
  margin-bottom: 14px;
}

/* line 809, ../../../src/custom2.scss */
#item video {
  display: block;
}

/* line 813, ../../../src/custom2.scss */
#item > .info {
  position: relative;
  margin-bottom: 15px;
  background-color: #FFF;
}

/* line 819, ../../../src/custom2.scss */
#item .info .screenshot {
  float: left;
  padding-right: 14px;
}

/* line 824, ../../../src/custom2.scss */
#item .info h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-bottom: 3px;
}

/* line 831, ../../../src/custom2.scss */
#item .info h1 .position {
  color: #999;
}

/* line 835, ../../../src/custom2.scss */
#item .info .details {
  color: #777;
  font-size: 12px;
}

/* line 840, ../../../src/custom2.scss */
#item .info .watch {
  padding-bottom: 8px;
}

/* line 844, ../../../src/custom2.scss */
#item .info .watch_button {
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #466A98;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  background: #386FB2;
  background: -webkit-gradient(linear, left top, left bottom, from(#67b0ef), to(#2b5ea4));
  background: -moz-linear-gradient(top, #579cea, #2b5ea4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#579CEA', endColorstr='#2B5EA4');
  text-decoration: none;
  text-shadow: 0 -1px 0 #003366;
}

/* line 861, ../../../src/custom2.scss */
#item .info .details a {
  color: #777;
}

/* line 865, ../../../src/custom2.scss */
#item .info .description {
  margin-top: 6px;
  margin-bottom: 18px;
  margin-right: 140px;
}

/* line 871, ../../../src/custom2.scss */
#item.legacy .info .description {
  margin-right: 0;
}

/* line 875, ../../../src/custom2.scss */
#item .info .social {
  position: absolute;
  right: -14px;
  bottom: 18px;
}

/* line 881, ../../../src/custom2.scss */
#item .info .downloads {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
}

/* line 888, ../../../src/custom2.scss */
#item .info .downloads li {
  margin-left: 8px;
}

/* line 892, ../../../src/custom2.scss */
#item .info .downloads li .overlay {
  font-size: 12px;
  display: none;
  color: #999;
  position: absolute;
  top: -22px;
  right: 110px;
  width: 220px;
  text-align: right;
}

/* line 903, ../../../src/custom2.scss */
#item .info .downloads li:hover .overlay {
  display: block;
}

/* line 907, ../../../src/custom2.scss */
#item .video_info .screenshot, #item .video_info .description, #item .video_info .watch {
  display: none;
}

/* line 911, ../../../src/custom2.scss */
#item .nav {
  padding: 0 8px;
  margin: 0;
  height: 35px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background: -moz-linear-gradient(top, #eeeeee, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
}

/* line 932, ../../../src/custom2.scss */
#item .nav li {
  margin: 0 6px;
  margin-top: 9px;
}

/* line 937, ../../../src/custom2.scss */
#item .nav li a {
  color: #393939;
  padding: 5px 8px;
  padding-bottom: 10px;
}

/* line 943, ../../../src/custom2.scss */
#item .nav li a.selected {
  border: solid 1px #CCC;
  border-bottom: none;
  background-color: #F5F5F5;
  color: #555;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  cursor: default;
}

/* line 957, ../../../src/custom2.scss */
#item .nav li a.selected:hover {
  text-decoration: none;
}

/* line 961, ../../../src/custom2.scss */
#item .nav .previous, #item .nav .next {
  float: right;
}

/* line 965, ../../../src/custom2.scss */
#item .nav_section {
  background-color: #F5F5F5;
  border: solid 1px #BBB;
  border-top: none;
  padding: 10px 20px;
  position: relative;
}

/* line 973, ../../../src/custom2.scss */
#item .nav_section .progress {
  z-index: 100;
  position: absolute;
  top: 40px;
  left: 400px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  padding: 50px;
}

/* line 986, ../../../src/custom2.scss */
#item.legacy .nav_section .progress {
  left: 320px;
}

/* line 990, ../../../src/custom2.scss */
#item .asciicasts {
  padding-right: 20px;
}

/* line 994, ../../../src/custom2.scss */
#item .browse_code img {
  vertical-align: bottom;
}

/* line 998, ../../../src/custom2.scss */
#item .show_notes ul {
  margin-top: -10px;
  /* quick hack to move resources list under headline */
  padding-top: 0;
  margin-bottom: 20px;
}

/* line 1004, ../../../src/custom2.scss */
#item .item_actions {
  float: right;
}

/* line 1008, ../../../src/custom2.scss */
#item .similar {
  margin-top: 15px;
}

/* line 1012, ../../../src/custom2.scss */
#item .similar .item:last-child {
  border-bottom: none;
}

/* line 1016, ../../../src/custom2.scss */
.large_pretty_button {
  font-size: 22px;
  padding: 5px 7px 6px 7px;
  border: 1px solid #539846;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  font-weight: bold;
  border: 1px solid #539846;
  color: #FFF;
  background: #55b238;
  background: -webkit-gradient(linear, left top, left bottom, from(#52b152), to(#005700));
  background: -moz-linear-gradient(top, #52b152, #005700);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$nav1', endColorstr='$nav2');
  text-decoration: none;
  text-shadow: 0 -1px 0 #116600;
}

/* line 1026, ../../../src/custom2.scss */
.large_pretty_button:hover {
  text-decoration: none;
}

/* line 1030, ../../../src/custom2.scss */
.small_pretty_button {
  font-size: 10px;
  padding: 2px 5px 3px 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-weight: bold;
  border: 1px solid #539846;
  color: #FFF;
  background: #55b238;
  background: -webkit-gradient(linear, left top, left bottom, from(#52b152), to(#005700));
  background: -moz-linear-gradient(top, #52b152, #005700);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$nav1', endColorstr='$nav2');
  text-decoration: none;
  text-shadow: 0 -1px 0 #116600;
}

/* line 1039, ../../../src/custom2.scss */
.small_pretty_button:hover {
  text-decoration: none;
}

/* line 1043, ../../../src/custom2.scss */
.pretty_button {
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-weight: bold;
  border: 1px solid #539846;
  color: #FFF;
  background: #55b238;
  background: -webkit-gradient(linear, left top, left bottom, from(#52b152), to(#005700));
  background: -moz-linear-gradient(top, #52b152, #005700);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$nav1', endColorstr='$nav2');
  text-decoration: none;
  text-shadow: 0 -1px 0 #116600;
}

/* line 1052, ../../../src/custom2.scss */
.pretty_button:hover {
  text-decoration: none;
}

/* START:cartmain */
/* Styles for the cart in the main page */
/* line 1059, ../../../src/custom2.scss */
.cart_title {
  font: 150% bold;
}

/* line 1061, ../../../src/custom2.scss */
.item_price, .total_line {
  text-align: right;
}

/* line 1063, ../../../src/custom2.scss */
.total_line .total_cell {
  background-color: #49ea12;
  font-weight: bold;
  border-top: double #2b8b0b;
  text-align: right;
}

/* START:cartside */
/* Styles for the cart in the sidebar */
/* line 1073, ../../../src/custom2.scss */
#response {
  width: 100%;
  background-color: #d9fbcd;
}

/* line 1075, ../../../src/custom2.scss */
#cart {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin: 0;
  padding: 0;
  background: #00cc00;
  border: 1px solid #00c823;
  width: 100%;
  max-width: 260px;
  background-color: #90f46e;
  font-size: 100%;
  margin: 0 0 20px 0;
  padding: 1px !important;
  display: inline-block;
}

/* line 1093, ../../../src/custom2.scss */
#cartListTable tbody tr:nth-child(even) td, tbody tr.even td {
  background: #BAFFA2;
}

/* line 1095, ../../../src/custom2.scss */
#cart table {
  width: 100%;
  padding: 0;
  font-size: 100%;
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}

/* line 1104, ../../../src/custom2.scss */
input[type="submit"].cart_button_checkout {
  float: right;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 17px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #006302;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #0cff11), color-stop(10%, #00b004), color-stop(50%, #005402), color-stop(50%, #004401), color-stop(100%, #007702));
  background-image: -moz-linear-gradient(top, #0cff11 0%, #00b004 10%, #005402 50%, #004401 50%, #007702 100%);
  background-image: linear-gradient(top, #0cff11 0%, #00b004 10%, #005402 50%, #004401 50%, #007702 100%);
  border-color: #001700;
  text-shadow: black 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.194) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"].cart_button_checkout, input[type="submit"].cart_button_checkout:visited {
  color: white;
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"].cart_button_checkout:hover, input[type="submit"].cart_button_checkout:focus {
  background-color: #005402;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #00fc05), color-stop(10%, #00a003), color-stop(50%, #004401), color-stop(50%, #003501), color-stop(100%, #006802));
  background-image: -moz-linear-gradient(top, #00fc05 0%, #00a003 10%, #004401 50%, #003501 50%, #006802 100%);
  background-image: linear-gradient(top, #00fc05 0%, #00a003 10%, #004401 50%, #003501 50%, #006802 100%);
  border-color: #000700;
  text-shadow: black 0px 1px 1px;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"].cart_button_checkout:hover, input[type="submit"].cart_button_checkout:hover:visited, input[type="submit"].cart_button_checkout:focus, input[type="submit"].cart_button_checkout:focus:visited {
  color: white;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"].cart_button_checkout:active {
  background-color: #004401;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #004401), color-stop(30%, #004f02), color-stop(50%, #003a01), color-stop(50%, #002b01), color-stop(100%, #006d02));
  background-image: -moz-linear-gradient(top, #004401 0%, #004f02 30%, #003a01 50%, #002b01 50%, #006d02 100%);
  background-image: linear-gradient(top, #004401 0%, #004f02 30%, #003a01 50%, #002b01 50%, #006d02 100%);
  border-color: black;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: #001700 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #001700 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #001700 0 0.08em 0.1em 1px inset;
  box-shadow: #001700 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rails305/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
input[type="submit"].cart_button_checkout:active, input[type="submit"].cart_button_checkout:active:visited {
  color: white;
}

/* END:cartside */
/* line 1108, ../../../src/custom2.scss */
.empty_basket {
  background-position: 0 -16px;
  height: 16px;
  width: 19px;
}

/* line 1112, ../../../src/custom2.scss */
.full_basket {
  background-position: 0 0px;
  height: 16px;
  width: 19px;
}

/* line 1116, ../../../src/custom2.scss */
.empty_basket, .full_basket, .top_basket {
  display: inline-block;
  background-image: url("/images/basket.png");
  background-repeat: no-repeat;
}

/* line 1122, ../../../src/custom2.scss */
#holiday {
  max-width: 268px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin: 0;
  padding: 0;
  background: #00cc00;
  background-color: #ddd;
  margin: 1px;
  padding: 1px;
}

/* line 1130, ../../../src/custom2.scss */
#holiday h3 {
  margin: 5px auto;
  width: 70%;
}

/* line 1134, ../../../src/custom2.scss */
#holiday_inner {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin: 0;
  padding: 0;
  background: #00cc00;
  background-color: #eee;
  margin: 1px;
  padding: 5px;
}

/* line 1140, ../../../src/custom2.scss */
#holiday_inner p {
  font-style: italic;
}

/* line 1145, ../../../src/custom2.scss */
#holiday_inner a {
  color: #fff;
}

/* extras */
/* line 1150, ../../../src/custom2.scss */
.upper {
  text-transform: uppercase;
}

/* line 1151, ../../../src/custom2.scss */
.italic {
  font-style: italic;
}

/* line 1152, ../../../src/custom2.scss */
.right {
  float: right;
}

/* line 1153, ../../../src/custom2.scss */
.justify {
  text-align: justify;
  text-justify: inter-word;
}

/* line 1155, ../../../src/custom2.scss */
.form_in_place input[type="text"] {
  width: 50px;
  height: 1em;
  margin: 0;
  padding: 0;
}

/* line 1157, ../../../src/custom2.scss */
#video {
  text-align: center;
  margin: 1em;
  padding: 1em;
}

/* line 1159, ../../../src/custom2.scss */
.top_section {
  text-align: center;
  color: #FFFFFF;
  float: left;
  height: 30px;
  width: 260px;
  background-image: url("/images/SectionSprites.png");
  background-position: 0 0;
}

/* line 1169, ../../../src/custom2.scss */
.top_section span {
  color: #FFFFFF;
  font-size: 1.0em;
  font-weight: 700;
  line-height: 1.5em;
  text-shadow: 1px 1px 1px #000;
}

/* line 1177, ../../../src/custom2.scss */
.empty_basket {
  background-position: 0 -16px;
  height: 16px;
  width: 19px;
}

/* line 1181, ../../../src/custom2.scss */
.full_basket {
  background-position: 0 0px;
  height: 16px;
  width: 19px;
}

/* line 1185, ../../../src/custom2.scss */
.empty_basket, .full_basket, .top_basket {
  display: inline-block;
  background-image: url("/images/basket.png");
  background-repeat: no-repeat;
}

/* line 1191, ../../../src/custom2.scss */
.sprite {
  display: inline-block;
}

/* fix for jquery ui */
/* line 1196, ../../../src/custom2.scss */
table.ui-datepicker-calendar thead tr th {
  background-color: green !important;
}

/* line 1198, ../../../src/custom2.scss */
#twtr-widget-1 .twtr-tweet a:hover {
  text-decoration: none !important;
  color: red !important;
  background-color: #006302 !important;
}

/*** SEARCH OPTION ***/
/* line 1204, ../../../src/custom2.scss */
.search_option {
  margin-bottom: 15px;
}

/* line 1208, ../../../src/custom2.scss */
.search_option ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #BBB;
  border-top: none;
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

/* line 1223, ../../../src/custom2.scss */
.search_option li {
  background-image: url("/images/nav-arrow.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0% 50%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 13px;
  padding-left: 8px;
}

/* line 1239, ../../../src/custom2.scss */
.search_option h2 {
  padding: 4px 20px;
  margin: 0;
  font-weight: normal;
  color: #444;
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background: -moz-linear-gradient(top, #eeeeee, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');
}

/* line 1260, ../../../src/custom2.scss */
.notebook {
  float: right;
  display: block;
  background-color: white;
  background-image: url("/images/shoplistP.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  width: 270px;
  max-height: 170px;
  min-height: 282px;
  padding-top: 75px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 22px;
  margin-left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Comic Sans MS';
  font-size: 11px;
}

/* line 1285, ../../../src/custom2.scss */
.fix300 {
  display: inline-block;
  width: 300px;
}

/* line 1290, ../../../src/custom2.scss */
.accordion {
  background-color: #e5ffe5;
  cursor: move;
}

/* START:search */
/* Styles for the search input */
/* line 1299, ../../../src/custom2.scss */
#product_search {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* line 1306, ../../../src/custom2.scss */
input[type="text"]#search {
  color: #999;
  height: 25px !important;
  width: 260px;
  padding-left: 20px !important;
  margin: 0px !important;
  background: url(/images/mag_glass.png) no-repeat;
  float: left;
}

/* line 1317, ../../../src/custom2.scss */
button#product_search_button {
  background: url(/images/input_search_button.png) top no-repeat;
  height: 30px;
  width: 29px;
  border: 0;
  margin: 0px 0px 0px 0px !important;
  padding: 0px !important;
}

/* line 1318, ../../../src/custom2.scss */
button#product_search_button:hover {
  background-position: bottom;
}

/* END:search */
/* line 1323, ../../../src/custom2.scss */
tr:nth-child(even) {
  background: #e5ffe5;
}

/* line 1324, ../../../src/custom2.scss */
.highlight_tr {
  background-color: yellow !important;
}

/* START: no script warning */
/* line 1327, ../../../src/custom2.scss */
.noscript {
  background-color: #AE0000;
  color: #FFFFFF;
  font-size: 110%;
  font-weight: bold;
  left: 0;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 4101;
}

/* line 1344, ../../../src/custom2.scss */
.noscript .noscript-inner {
  text-align: center;
  background-image: url("/images/i_notice.png");
  background-position: 20px 50%;
  background-repeat: no-repeat;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 12px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 12px;
  width: 70%;
}

/* END:form */
