/*
http://colorschemedesigner.com/#4K325tgNTg0jF
Primary Color:
green 
50F015  57D22A  3FC60D  6AF437  7EF453
Secondary Color A:
blue
19AED8  2B9CBD  0F8EB2  39BEE4  52C4E4
Secondary Color B:
orange
FF8C16  DF872D  D2710E  FF9D3A  FFAB56
Complementary Color:
red
F91539  DA2C47  CE0D2C  FB3957  FB556F
  */

.container {
  width: 950px;
}

body {
  background: #52C4E4;
  color:navy;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

section#flash {
  height: 18px;
  margin-top:1em;
  padding-top:1em;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}
/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}


/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}
/* Round corners */

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}
footer {
  text-align: center;
  margin-top: 10px;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}


#flash_notice, #flash_error, #flash_alert {
  padding: 0;
  padding-left:10px;
  margin: 0;
  width: 400px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

#flash_alert {
  background-color: #FFAB56;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#user_nav {
  float: right;
  font-size: 12px;
}

#userPreferences {
  float: right;
  font-size: 12px;
  width: 250px;
  border: 2px solid #ccc;
  padding: 5px;
  margin-top: -50px;
  background-color: #f0f0f0;
}

/*Pagination*/
.digg_pagination {
  background: white;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .digg_pagination span.current {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #003;
      border-color: #003; }
  .digg_pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child+html .digg_pagination {
    overflow: hidden; }

/*Pretty table*/
table.pretty {
  border-collapse: collapse;
  margin-bottom: 10px;
}

.pretty td, .pretty th {
  padding: 4px 10px;
  border: solid 1px #AAA;
}

.pretty .price {
  text-align: right;
}

.pretty th .current {
  padding-right: 18px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.png);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.png);
}

/*fancy input search*/
input#search[type="text"] {width:149px;height:16px;padding:4px 10px 2px 21px;font-size:15px;color:navy;border:none;background:url(/images/search_field.png) 0 -22px no-repeat;/*TODO replace -22 with 0*/}
input#search[type="text"]:focus {background:url(/images/search_field.png) 0 -22px no-repeat;}
.go_button {height: 23px;  width: 4em;  margin-bottom: -6px;/*to make the rest of the search stuff behave*/}