<title>Dairy | <%= @title %> </title>

<h1>About Us</h1>
<p><%= image_tag("oldvans.jpg", :alt => "Walden Dairy Old Vans", :id => "oldvans") %></p>
<h4 class="highlight_link">
  <a href="http://waldendairy.com/">Walden Dairy</a>
  We are your local choice in the Saffron Walden Area. Established in 1947 and looking forward!
</h4>

<h3>135 Thaxted Road, Saffron Walden, Essex CB11 3BJ</h3>

<h4 class="italic">We deliver more than milk to our customers. Please refer to our home page for more information.</h4>

<p>Some of our fleet:</p>
<p><%= image_tag("newvans.png", :alt => "Walden Dairy New Vans", :id => "newvans") %></p>