<title>Dairy | <%= @title %> </title>

<h1>About Us</h1>
<p><%= image_tag("oldvans.jpg", :alt => "Walden Dairy Old Vans", :id => "oldvans") %></p>
<h4 class="highlight_link">
  <a href="http://waldendairy.com/">Walden Dairy</a>
  We are your local choice in the Saffron Walden Area. Established in 1947 and looking forward!
</h4>

<hr />

<p class="justify">After being manager of Halsted Co-op during the war, my grandfather Edwin founded Walden Dairy in 1947. He bought the rounds that were still being distributed from a churn by hand and replaced them with milk in bottles. My father joined the Dairy on leaving Braintree Grammar School and they built up the business in Saffron Walden and the surrounding villages. Together they built the dairy processing plant, on the present site, enabling them to pasteurise and bottle the milk that they collected in 10 gallon churns from local farms.

Having grown up working on the bottle washer at the Dairy during school holidays, I returned full - time in 1987, as a milkman. I set about growing the business by supplying niche products to the major dairies including Channel Island and organic milk.

At this time we were processing 51,000 pints of milk a week and delivering on average 24,000 pints locally. In the mid 1990’s, 75% of all milk consumed was delivered to the doorstep.  With the rise of the supermarkets this figure is now less than 10%.

We ceased processing milk in 2005 and now focus solely on doorstep delivery. This has enabled us to deliver to a wider geographical area from Saffron Walden southwards to Bishops Stortford and eastwards to Braintree.

Today I still believe in the benefits of doorstep delivery, returnable glass bottles and the use of electric vehicles where possible. I will continue to provide the best service I can for our existing customers and for those we welcome in the future.</p>


<h3 class="italic right"><strong>Michael Stephenson</strong></h3>

<hr />

<h3>135 Thaxted Road, Saffron Walden, Essex CB11 3BJ</h3>

<h4 class="italic">We deliver more than milk to our customers. Please refer to our home page for more information.</h4>


<p><%= image_tag("newvans.png", :alt => "Walden Dairy New Vans", :id => "newvans") %></p>