<title>Dairy | <%= @title %> </title>

<h1>About Us</h1>
<p>
  <a href="http://dairy.is-land.com/">Walden Dairy</a>
  We are your local choice in the Saffron Walden Area
</p>

<p>135 Thaxted Road, Saffron Walden, Essex CB11 3BJ</p>

<p>We deliver more than milk to our customers. Please refer to our home page for more information.</p>

<p>
  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue.

  Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida. Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida.

  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue.
</p>
