<title>Dairy | <%= @title %> </title>

<h1>About Us</h1>
<p>
  <a href="http://dairy.is-land.com/">Walden Dairy</a>
  We are your local choice in the Saffron Walden Area
</p>

<p>135 Thaxted Road, Saffron Walden, Essex CB11 3BJ</p>

<p>We deliver more than milk to our customers. Please refer to our home page for more information.</p>

