<h1>Contact</h1>
<p>
  Contact Walden Dairy at the
  <a href="http://dairy.is-land.com/feedback">feedback page</a>.
</p>
<p>
  Or send an email to waldendairy@btconnect.com
  <a href="mailto:waldendairy@btconnect.com?Subject=Customer%20enquiry">Send mail</a>.
</p>
