<h1>Contact</h1>

<p><%= BUSINESS %></p>
<p><%= ADDRESS %></p>
<hr />
<p>Telephone <%= TELEPHONE %></p>
<p> Please call from 7:00am to 11:00am on week days</p>
<hr />
<p>
  Or send an email to <%= EMAIL %>
  <a href="mailto:milkman@waldendairy.com?Subject=Customer%20enquiry">Send mail</a>.
</p>
