<h1>Contact</h1>

<p>135 Thaxted Road ~ Saffron Walden ~ Essex ~ CB11 3BJ</p>
<br />
<p>Telephone 01799 523122</p>
<p> Please call from 7:00am to 11:00am on week days</p>
<p>
  Contact Walden Dairy at the
  <a href="http://dairy.is-land.com/feedback">feedback page</a>.
</p>
<p>
  Or send an email to waldendairy@btconnect.com
  <a href="mailto:waldendairy@btconnect.com?Subject=Customer%20enquiry">Send mail</a>.
</p>
