<h1>Fun</h1>
<p>
  This is the fun page for the
  <a href="http://waldendairy.com/">Walden Dairy</a>.
</p>

<iframe width="650" height="530" scrolling="no" src="http://www.makeminemilk.co.uk/HTML/Milk_TashAppEmbed.html" frameborder="0">Oops! You need a frames capable browser to view this content.</iframe>
