<h2>Help with the order process.</h2>
<div id="video">
  <object classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab" height="256" width="320">

  <param name="src" value="/images/OrderHelp.mov">
  <param name="autoplay" value="true">
  <param name="type" value="video/quicktime" height="470" width="720">

  <embed src="/images/OrderHelp.mov" height="470" width="720" autoplay="true" type="video/quicktime" pluginspage="http://www.apple.com/quicktime/download/">

  </object>
</div>
<h3 class="italic">This little video will show you how simple it is to Order products.</h3>