<h1>Help</h1>

<h3>Please take a minute to:</h3>
<p class="highlight_link"><%= link_to "Sign up here", new_customer_registration_path %> and <%= link_to "sign in here", new_customer_session_path %> to see product prices etc.</p>

<h5>The benefits of signing up</h5>
<p>You will able to:</p>
<ul>
  <li>see prices</li>
  <li>order products</li>
  <li>let us know about holidays</li>
  <li>review your old orders</li>
  <li>keep abreast of new products</li>
  <li>see promotions and offers</li>
</ul>

<h3>Twitter</h3>
<p class="highlight_link"><%= link_to "click here", 'http://twitter.com/waldendairy', :target => "_blank" %>
<p>You will able to: (if you follow us on Twitter)</p>
  <ul>
    <li>see what we are doing without having to enter our website</li>
    <li>see any announcements we make</li>
    <li>be alerted if we have system upgrades or outages</li>
    <li>keep in touch with any developments in the business</li>
    <li>see if we have any offers</li>
    <li>be notified of new products</li>
    <li>checkout our promotions</li>
  </ul>


<h3>The simple order process:</h3>
<h5 class="italic">N.B. You can order from us straight away, even if you've just signed up!'</h5>
  <ul>
    <li>Pick products from the shop and click the "Add to Cart" button</li>
    <li>You should see your Cart/Basket popup on the righthand side</li>
    <li>Click the "Add to Cart" button again and again if you want more of that item</li>
    <li>Click the "[-]" button if you want take away from the Cart (down to zero if you want)</li>
    <li>Find another item and Click its "Add to Cart" button. Repeat this step until finished.</li>
    <li>When you are finished click the "Checkout" button then make sure you have the required few details added.</li>
    <li>Then click the "Submit your order" button. Done. Simples!</li>
    <li>You will receive your order number via email, but you can check your order on the website via the "Order" button.</li>
  </ul>

<h3>Payment arrangements</h3>
  <ul>
    <li>We do not accept payments through the website</li>
    <li>You can pay your account via BACS on your personal Bank's website</li>
    <li>Or leave a cheque out for your milkman</li>
    <li>Send a cheque to our office</li>
    <li>Or pop in and drop off cash or a cheque</li>
  </ul>


<h3 class="italic">Please send us comments, suggestions or feedback via email.</h3>
<p>email address: milkman@waldendairy.com</p>
<h4>We are working hard to make your life easier.</h4>