<h1>Walden Dairy</h1>
<p>
  This is the home page for the
  <a href="http://dairy.is-land.com/">Walden Dairy</a>
  customer application.
</p>
<%= link_to "Sign up now!", '#', :class => "signup_button round" %>
