<div>

  <h1>Welcome to Walden Dairy</h1>

  <p class="justify">We have been delivering locally to Saffron Walden and the surrounding areas for over sixty years. We offer online ordering and free doorstep delivery and aim to serve over 90% of our customers before 8.00 am. We pride ourselves in being able to deliver, even in severe weather, using electric milk floats wherever possible.</p>

  <p class="justify">Our milk products suit our customers’ individual requirements, ranging from environmentally sensitive British recycled and returnable glass bottles to family sized one and two litre plastic bottles. We supply regular dairy milk as well as the more specialised organic, soya and Channel Island varieties.</p>

  <p class="italic justify">But we can deliver so much more than milk – please take time to browse the other products that are also available and order online today.</p>

</div>

<h3 class="italic right"><strong>Michael Stephenson</strong></h3>

<div id="shop_button">
  <%= link_to "Click here to see our products", products_path, :class=>"large_pretty_button" %>
</div>