<div class="post-wrapper">
<h2>Welcome to The Pantry @ Walden Dairy</h2>
<div class="entry">
<div class="notebook">

</div>
<p>For me doorstep milk delivery is about providing a quality service to the local community. That is why I wanted to broaden what Walden Dairy offers and met with other producers in the area. What struck me was how many are generational family businesses and that they all share a real passion for what they do and believe firmly that local is best. It is evident that they have complete confidence in the quality of their product, know exactly where it comes from and what has gone into it. It is this philosophy that led to establishing <strong>‘The Pantry @ Walden Dairy’.</strong><br />
  &nbsp;<br />
  I hope that you take the this opportunity to look at what we have on our shopping list this week and join me in supporting small-scale suppliers keeping it local.</p>
  <p style="text-align: right;"><strong>… Ellie Stephenson </strong></p>
