<h3>Category menu</h3>
<p class="italic">Please pick a category from the list below</p>
<ul>
  <li>
    <%= link_to "All Products", products_path %>
  </li>
  <% categories.each do |category| %>
    <li>
      <%= link_to category.title, for_category_category_products_path(category) %>
    </li>
  <% end %>
</ul>
