@import "fancy-buttons";
/*
http://colorschemedesigner.com/#4K325tgNTg0jF
Primary Color:
green 
50F015  57D22A  3FC60D  6AF437  7EF453
Secondary Color A:
blue
19AED8  2B9CBD  0F8EB2  39BEE4  52C4E4
Secondary Color B:
orange
FF8C16  DF872D  D2710E  FF9D3A  FFAB56
Complementary Color:
red
F91539  DA2C47  CE0D2C  FB3957  FB556F
  */
$sitewidth: 1024px;
$site: #52c4e4;
$font: $fb-color;
$background: lighten($site, 20%);
$bg: $background;
$border: darken($site, 20%);
$fontb: darken(#52C4E4, 10);
$paginate: darken($site, 20%);

$linkcolor: $font;
$hover: lighten($font, 20%);
$active: $font;
$visited: $font;

@mixin formInputs {
  @include border-radius(5px);
  margin-bottom: 1.5em;
  background: $site;
  /*font-family:comic sans MS;*/
  font-size:14px; 
  font-weight:none; 
  font-style:normal; 
  border-style:solid; 
  border-color:$border; 
  border-width:2px;
  width: 280px; 
  color:$font; 
}

@mixin rounded {
  @include border-radius(0.5em);
  margin:1px; 
  background: $bg;
}

@mixin grey_glow {
  -moz-box-shadow:0 0 8px rgba(78, 78, 78, 0.5);
}

//body {background: $site;color:$font ;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
body {background:url(/images/main_background.png) -20% -23px repeat-x;;color:$font ;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:$font;}
h1 {text-shadow: #aaaaaa 1px 1px 1px;}
header h1 {
  -x-system-font: none;
  color: white;
  font-family: "Museo Slab","Helvetica","Arial",sans-serif;
  font-size: 65px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-shadow: 0 -1px 0 black;
  position: absolute;
  top: 0.5em;
  right: 10em;
}

.container {
  width: $sitewidth; }

header {
  padding-top: 20px;
  img {
    padding: 1em;
    background: $background; } }

section {
 @include grey_glow;
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: $background;
  h1 {
    font-size: 200%; }
  &#flash {
    height: 18px;
    margin-top: 1em;
    padding-top: 1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; } }

/* Links */

a {
  color: $linkcolor; text-decoration: none;
  &:hover { color: $hover; text-decoration: underline; }
  &:visited { color: $visited; } }

/* Navigation */

nav {
  @include rounded;
  @include grey_glow;
  float: right;
  background-color: $background;
  margin: 0;
  padding: 0 0.7em;
  white-space: nowrap;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 0;
      a {
        padding: 0 5px;
        font-weight: bold;
        &:visited {
          color: $visited; }
        &:hover {
          text-decoration: underline; } } } } }


nav#left_bar {
  @include rounded;
  @include grey_glow;
  float: right;
  background-color: $background;
  margin-top: 7em;
  padding: 0 0.7em;
  white-space: normal;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      padding: 0.2em 0;
      a {
        padding: 0 5px;
        font-weight: bold;
        &:visited {
          color: $visited; }
        &:hover {
          text-decoration: none;
          background: orange;
          border-style:solid; 
          border-color:$border; 
          border-width:2px; } } } } }
          
#login_nav {
    margin-top: -2em;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px; }

/* Round corners */

.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

footer {
  @include grey_glow;
  text-align: center;
  margin-top: 10px;
  width: $sitewidth;
  margin-left: auto;
  margin-right: auto;
  nav {
    float: none; } }

#flash_notice, #flash_error, #flash_alert {
  @include rounded;
  @include grey_glow;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  width: 400px; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

#flash_alert {
  background-color: #FFAB56;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff; }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  ul {
    margin: 2px 24px;
    li {
      font-size: 12px;
      list-style: disc; } } }

#user_nav {
  float: right;
  font-size: 12px; }

#userPreferences {
  float: right;
  font-size: 12px;
  width: 180px;
  border: 2px solid $border;
  padding: 5px;
  margin-top: -50px;
  background-color: $background; }

/*Pagination*/

.digg_pagination {
  background: $background;
  /* self-clearing method: */
  a {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px;
    &.disabled {
      color: #999;
      border: 1px solid #DDD; }
    &.current {
      font-weight: bold;
      background: $paginate;
      color: white;
      border: 1px solid $paginate; } }
  a {
    text-decoration: none;
    color: darken($paginate, 10%);
    border: 1px solid darken($paginate, 10%);
    &:hover, &:focus {
      color: darken($paginate, 20%);
      border-color: lighten($paginate, 20%); } }
  .page_info {
    background: $paginate;
    color: $background;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center;
    b {
      color: darken($paginate, 10%);
      background: lighten($paginate, 20%);
      padding: .1em .25em; } }
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; } }

* {
  html .digg_pagination {
    height: 1%; }
  &:first-child+html .digg_pagination {
    overflow: hidden; } }

/*Pretty table*/

table.pretty {
  border-collapse: collapse;
  margin-bottom: 10px; }

.pretty {
  td, th {
    padding: 4px 10px;
    border: solid 1px $border; }
  .price {
    text-align: right; }
  th {
    .current {
      padding-right: 18px;
      background-repeat: no-repeat;
      background-position: right center; }
    .asc:after {
      content: "\25B2 \ ";text-shadow: #aaaaaa 1px 1px 1px;
       }
    .desc:after {
      content: "\25BC \ ";text-shadow: #aaaaaa 1px 1px 1px; 
      }
       } }

tbody tr:nth-child(even) td, tbody tr.even td {background:lighten($site, 15%);}

/*fancy input search*/
input[type="password"], input[type="text"], input[type="file"], textarea {
  height: 1.5em;
  @include formInputs;
  @include grey_glow;
}

div#upload, select {
  height: 2em;
  @include formInputs;
}

input[type="text"]#search {
  padding-left:1.5em;
  height: 1.5em;
  @include formInputs;
  background: url(/images/mag_glass.png) 0 -2px no-repeat;
}

input[type="text"]#per_page {
  width:20px;
}
.button {@include fancy-button($site, 11px); }
button {@include fancy-button($site, 11px); }
input[type="submit"]#go_button {@include fancy-button($site, 14px, 1em, 2px);  margin-bottom: -6px }
input[type="submit"]#product_submit {@include fancy-button($site, 19px, 1em, 1px) }
input[type="submit"]#save_button {@include fancy-button($site, 11px);  margin-bottom: -6px }
input[type="submit"]#customer_submit {@include fancy-button($site, 17px);  margin-bottom: -6px }

.productImage img {
    @include grey_glow;
}

#logo {
    @include rounded;
    @include grey_glow;
    margin-top: -2em;
} 

.file_input_textbox
{ 
  width: 400px; 
  float: left;
}

.file_input_button {@include fancy-button($site, 15px);  margin-bottom: 30px; margin-top: 7px; }

.file_input_div
{
  position: relative; 
  width: 100px; 
  height: 2.1em; 
  overflow: hidden;
  display: inline
}

.file_input_hidden
{
  font-size: 45px;
  position: absolute; 
  right: 0px; 
  top: 0px;
  @include transparent
}

.checkbox {
  color:$font;
  background:$bg;
  width:2em;
  height:2em;
}

 