@import "fancy-buttons";
* {
margin: 0;
}
/* http://colorschemedesigner.com/#4K325tgNTg0jF */

$sitewidth: 950px;    /* Total width = (columns * 40) - 10 */
$site: #c3ff83; //#74D52B;
$font-color: #333b33; //$fb-color;
$font-family: "Helvetica Neue", Arial, Helvetica, sans-serif ;
$font-size: 120%;
$background: lighten($site, 20%);
$bg: $background;
$border: darken($site, 20%);
$fontb: darken(#52C4E4, 10);
$paginate: darken($site, 20%);

$linkcolor: $font-color;
$hover: #167f1b; //lighten($font-color, 30%);
$active: $font-color;
$visited: $font-color;

@mixin formInputs {
  @include border-radius(5px);
  margin-bottom: 1.5em;
  background: $site;
  /*font-family:comic sans MS;*/
  font-size:14px;
  font-weight:none;
  font-style:normal;
  border-style:solid;
  border-color:$border;
  border-width:2px;
  width: 280px;
  color:$font-color;
}

@mixin shadow_box {
  background-color:darken($bg, 20%);
  -moz-box-shadow:    5px 5px 3px #888888; /* Firefox */
  -webkit-box-shadow: 5px 5px 3px #888888; /* Safari and Chrome */
  box-shadow:         5px 5px 3px #888888;
}

@mixin rounded {
  @include border-radius(0.5em);
  margin:0.25em;
  padding: 0.5em;
  background: $bg;
}

@mixin grey_glow {
  -moz-box-shadow:0 0 8px rgba(78, 78, 78, 0.5);
}

@mixin red_glow {
  -moz-box-shadow:0 0 8px rgba(255, 22, 22, 0.5);
}

@mixin clearfix {
  overflow: hidden;
  clear: both;
}

//body {background: $site;color:$font-color ;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
html, body {
  color:$font-color ;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 100%;
}
footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  nav {
    float: none; }
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.footer, .push {
  height: 4em;
  clear: both;
  width:99.5%; // :TODO hack for footer
}
body {background:url(/images/main_background_opt.png) -20% -23px repeat-x; color:$font-color; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:$font-color;}
h1, h2, h3, h4 {text-shadow: #aaaaaa 1px 1px 1px;}
header h1 {
  -x-system-font: none;
  color: white;
  font-family: "Museo Slab","Helvetica","Arial",sans-serif;
  font-size: 65px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-shadow: 0 -1px 0 black;
  position: absolute;
  top: 0.5em;
  right: 9em;
}

header {
  padding-top: 20px;
 }

section {
  @include rounded;
  @include grey_glow;
  font-size: 120%;
  h1 {
    font-size: 200%; }
  &#flash {
    height: 2em;
    @include rounded; }
  &#navbar {
    height: 4em;
    @include rounded; } }

    #flash{
    font-size:150%;
    text-align:center;
    }
    flash_html {
    display:inline;
    }
    flash_ajax{
    display: block;
    position:fixed;
    bottom:0px;
    width:100%;
    z-index:1003;
    color:#ccc;
    background-color:#000;
    padding:4px;

    }

/* Navigation */

nav {
  @include rounded;
  @include grey_glow;
  float: right;
  white-space: nowrap;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      display: inline-block;
      padding: 0.2em 0;
      a {
        padding: 0 5px;
        font-weight: bold;
        &:visited {
          color: $visited; }
        &:hover {
          text-decoration: underline; } } } } }


#left_bar {
  @include rounded;
  @include grey_glow;
  float: right;
  white-space: normal;
  ul {
    margin: 0;
    padding: 0;
    li {
      width: 100%;
      @include border-radius(5px);
      border-style:solid;
      border-color:#8bcc46;
      border-width:0.5px;
      list-style-type: none;
      margin:0.5px 0;
      padding: 0;
      height: 2em;
      a {
        padding: 10px;
        font-weight: bold;
        &:visited {
          color: $visited; }
        &:hover {
          text-decoration: none;
          @include fancy-button($site, 11px); } } } }
}

/* Links */

a {
   text-decoration: none; color: $linkcolor;
    &:visited {  text-decoration: none;color: $visited; }
    &:active {  text-decoration: none; color: $active; }
    &:hover { text-decoration: underline; color: green; } }

#right_bar {
  max-width:268px; //Chrome hack
  @include rounded;
  @include grey_glow;
  float: right;
  background-color: $bg;
  white-space: normal;
  @include clearfix;
}

#login_nav {
  padding:2px;
  margin-top: -2em;
}

#help_nav {
  margin:0;
  @include clearfix;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px; }

/* Round corners */

.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

#flash_notice, #flash_error, #flash_alert {
  @include rounded;
  @include grey_glow;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  width: 99%; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

#flash_alert {
  background-color: #FFAB56;
  border: solid 1px #C66; }

.field_with_errors {
  @include rounded;
  @include red_glow;
  display: inline; }

#error_explanation, #errorExplanation, .error_explanation {
  @include rounded;
  @include red_glow;
  width: 99%;
  border: 2px solid #ff1616;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #ff1616;
    color: #fff; }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  ul {
    margin: 2px 24px;
    li {
      font-size: 12px;
      list-style: disc; } } }

#user_nav {
  float: right;
  font-size: 12px; }

#userPreferences {
  float: right;
  font-size: 12px;
  width: 180px;
  border: 2px solid $border;
  padding: 5px;
  margin-top: -40px;
  background-color: $bg; }

#payinfo {
  @include rounded;
  @include grey_glow;
  background-color: $bg;
  white-space: normal;
  margin-bottom:1.25em;
  @include clearfix;
  strong {
    color: #007f00;
    font-size:120%;
         }
}

.pageHeading {
  width:98%;
  @include shadow_box;
  padding:2px;
  margin-bottom: 1em;
}

/*Pagination*/

.digg_pagination {
  background: $bg;
  margin:0;
  /* self-clearing method: */
  a {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px;
    &.disabled {
      color: #999;
      border: 1px solid #DDD; }
    &.current {
      margin-top: 1px;
      font-weight: bold;
      background: $paginate;
      color: white;
      border: 2px solid $paginate; } }
  a {
    text-decoration: none;
    color: darken($paginate, 10%);
    border: 1px solid darken($paginate, 10%);
    &:hover, &:focus {
      color: darken($paginate, 20%);
      border-color: lighten($paginate, 20%); } }
  .page_info {
    background: $paginate;
    color: $bg;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center;
    b {
      color: darken($paginate, 10%);
      background: lighten($paginate, 20%);
      padding: .1em .25em; } }
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; } }

* {
  html .digg_pagination {
    height: 1%; }
  &:first-child+html .digg_pagination {
    overflow: hidden; } }

.order_header {
    @include rounded;
    @include grey_glow;
    background-color:lighten($bg, 20%);
}
/*Pretty table*/

table.pretty {
  border-collapse: collapse;
  margin-bottom: 10px; }

.pretty {
  th {
    padding: 4px 10px;
    border-bottom-color: $border;
    border-bottom-style: solid;
    border-bottom-width: medium;
  }
  td {
    padding: 4px 10px;
    border: solid 1px $border; }
  .hidden {
    border: hidden;
    border-top: solid 1px $border;
    border-right: solid 1px $border;
    text-align: right;
    background:lighten($site, 40%) }
  .price {
    text-align: right; }
  .total {
    text-align: right;
    border-top-color: $border;
    border-top-style: double;
    border-top-width: thick;

     }
  th {
    .current {
      padding-right: 18px;
      background-repeat: no-repeat;
      background-position: right center; }
    .asc:after {
      content: "\25B2 \ ";text-shadow: #aaaaaa 1px 1px 1px;
       }
    .desc:after {
      content: "\25BC \ ";text-shadow: #aaaaaa 1px 1px 1px;
      }
       }
}

tbody tr:nth-child(even) td, tbody tr.even td {background:lighten($site, 15%);}

/*fancy input search*/
input[type="password"], input[type="text"], input[type="file"], input[type="tel"], input[type="email"], textarea {
  @include formInputs;
  @include grey_glow;
  font-family: $font-family;
  font-size: $font-size;
}
textarea {
  height: 4em;
}

#date {
  width: 8em;
}

div#upload, select {
  height: 2em;
  @include formInputs;
}

input[type="text"]#search {
  padding-left:1.5em;
  height: 1.5em;
  @include formInputs;
  background: url(/images/mag_glass.png) 0 -2px no-repeat;
}

input[type="text"]#per_page {
  width:20px;
}
.button {@include fancy-button($site, 11px); }
input[type="submit"]{@include fancy-button($site, 11px); }
button {@include fancy-button($site, 11px); }
input[type="submit"]#go_button {@include fancy-button($site, 14px, 1em, 2px);  margin-bottom: -6px }
input[type="submit"]#product_submit {@include fancy-button($site, 19px, 1em, 1px) }
input[type="submit"]#save_button {@include fancy-button($site, 11px);  margin-bottom: -6px }
input[type="submit"]#customer_submit {@include fancy-button($site, 17px);  margin-bottom: -6px }

.productImage img {
    @include grey_glow;
}

#logo {
 margin:0;
 padding:0;
}

.file_input_textbox
{
  width: 400px;
  float: left;
}

.file_input_button {@include fancy-button($site, 15px);  margin-bottom: 30px; margin-top: 7px; }
.holiday_button {@include fancy-button($site, 15px);  margin-bottom: 30px; margin-top: 7px; }

.file_input_div
{
  position: relative;
  width: 100px;
  height: 2.1em;
  overflow: hidden;
  display: inline
}

.file_input_hidden
{
  font-size: 45px;
  position: absolute;
  right: 0px;
  top: 0px;
  @include transparent
}

.checkbox {
  color:$font-color;
  background:$bg;
  width:2em;
  height:2em;
}

/* START:cartmain */
/* Styles for the cart in the main page */

.cart_title {
  font: 150% bold;
}

.item_price, .total_line {
  text-align: right;
}

.total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid $border;
  text-align: right;
}

/* START:cartside */
/* Styles for the cart in the sidebar */

#response {
  width:100%;
}

#notice {
  width:100%;
  color: #0000ff;
}
#cart {
  width:100%;
  max-width:268px; //Chrome hack
  font-size: 100%;
  margin:0px;
  padding: 1px;
}

#storeListTable tbody tr:nth-child(even) td, tbody tr.even td {background:#007f00;}

#cart table {
  width:99%;
  font-size: 100%;
  border-top:    1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}
/* END:cartside */

#holiday {
  max-width:268px; //Chrome hack
  @include rounded;
  background-color:#ff9000;
  margin:1px;
  padding:1px;
}
#holiday h3{
  margin:5px auto;
  width:70%;
}
#holiday_inner {
  @include rounded;
  background-color:#e5fabb;
  margin:1px;
  padding:5px;
}
#holiday_inner p{

  font-style:italic;
}
#holiday_button{
  margin-right:auto;
  margin-left:auto;
  margin-top:1px;
  margin-bottom:1px;
  padding:1px;
  width:70%;
}
.holiday_button {@include fancy-button($site, 17px);
  margin-right:auto;
  margin-left:auto;
  margin-top:1px;
  margin-bottom:1px;
}

#wdtwitter {
 max-width:268px; //Chrome hack
}

#mdtwittershare {
 max-width:268px; //Chrome hack
}

#firefox img{
 display: inline-block !important;
 max-width:268px; //Chrome hack
}

/* START: no script warning */
.noscript  {
  background-color:#AE0000;
  color:#FFFFFF;
  font-size:110%;
  font-weight:bold;
  left:0;
  padding-bottom:5px;
  padding-left:0;
  padding-right:0;
  padding-top:5px;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:4101;
}

.noscript .noscript-inner  {
  text-align:center;
  background-image:url("/images/i_notice.png");
  background-position:20px 50%;
  background-repeat:no-repeat;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  padding-bottom:12px;
  padding-left:0;
  padding-right:0;
  padding-top:12px;
  width:70%;
}
/* END:form */

#tabnav {
  width: 98%;
  position:relative;
  white-space: normal;
  margin:0.25em;
  padding:0.5em;
  ul {
    margin: 0;
    padding: 0;
    li {
      a {
        @include fancy-button($site, 14px);
        height: 2em;
        &:visited {
          color: $visited; }
        &:hover {
          @include fancy-button($site, 14px); } } } } }

.highlight_link {
  white-space: normal;
    a {
      font-color: #167F1B;
      padding: 10px;
      font-weight: bold;
      font-size:105%;
      &:visited {
        color: #167F1B; }
      &:hover {
        text-decoration: none;
        color: orange; } }
}

/* extras */
.upper {
  text-transform: uppercase;
}
.italic {
  font-style:italic;
}

.form_in_place input[type="text"]{
  width:50px;
  height:1em;
  margin:0;
  padding:0;
}

#video {
  text-align:center;
  margin: 1em;
  padding: 1em;
}