<%= form_tag products_path, :method => 'get' do %>
  <p>
    Search:
    <%= autocomplete_field_tag :search, params[:search], products_autocomplete_product_name_path %>
    <%= submit_tag "GO", :class => "go_button", :id => "go_button" %>
  </p>
<% end %>