<div class="pageHeading"><h1>Products for~ <%= @category.name %></h1></div>
  <%= render :partial => 'item_views' %>
  <div id="products"><%= render :partial => 'products' %></div>
<br />

<% if current_customer.try(:admin?) %>
  <%= link_to 'New Product', new_product_path %>
<% end %>
