<hr>

                                              <!-- START: pics -->
  <% render 'layouts/pics' %>
                                              <!-- END: pics -->

<div class="span-17 pantry">                  <!-- START: pantry -->
  <%= render 'layouts/pantry' %>
</div>                                        <!-- END: pantry -->
<div class="span-7 social last">              <!-- START: social -->
  <%= render 'layouts/social' %>
</div>                                        <!-- END: social -->

<div class="push"></div>
</div>                                        <!-- END: container -->

<div class="span-24 footer ">                 <!-- START: footer -->
  <%= render 'layouts/noscript' %>
  <%= render 'layouts/footer' %>
</div>                                        <!-- END: footer -->
