<div id="pics">
  <%= image_tag("image01.png", :alt => "", :class => "pic1") %>
  <%= image_tag("image02.png", :alt => "", :class => "pic1") %>
  <%= image_tag("image03.png", :alt => "", :class => "pic1") %>
  <%= image_tag("image04.png", :alt => "", :class => "pic1") %>
</div>