<div id="right_bar">

  <div id="cart">
    <% if @cart %>
      <%= hidden_div_if(@cart.items.empty?, :id => "cart") do %>
        <%= render(:partial => "cart", :object => @cart) %>
      <% end %>
    <% end %>
  </div>

</div>
    