<!--start social partial -->
<div id="social">
  <%= link_to image_tag("twitter_32.png", :alt => "Twitter", :id => "TwitterLogo"), "https://twitter.com/WaldenDairy/", :target => "_blank" %>

  <div class="fb-like" data-href="https://waldendairy.com" data-send="true" data-width="240" data-show-faces="true"></div>
</div>
<!--end social partial -->