<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Preloaded</a></li>
    <li><%= link_to "Shop", products_path %></li>
    <li><%= link_to "My Orders", my_orders_path %></li>
    <li><a href="ajax/content3-slow.php">Tab 3 (slow)</a></li>
    <li><a href="ajax/content4-broken.php">Tab 4 (broken)</a></li>
  </ul>
  <div id="tabs-1">
    <p>Welcome to Walden Dairy</p>
  </div>
</div>
