<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => 'layouts/head' %>
  </head>
  <body>
    <div class="wrapper container">               <!-- START: container -->
      <div class="span-24 header">                <!-- START: header -->
      <%= render 'layouts/header' %>
      </div>                                      <!-- END: header -->
      <div class="span-24">                       <!-- START: main -->
        <section id="main_content">
          <%= yield %>
        </section>
      </div>                                      <!-- END: main -->
      <%= render :partial => 'layouts/bottom' %>

  </body>
</html>